{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}

<style>
  .price-cell {
    white-space: nowrap;
  }
</style>
<div class="container">



        <div class="row">
    <div class="col-md-6">
        <img src="{{ kit.image.url }}" alt="{{ kit.name }}" class="img-fluid">
    </div>
    <div class="col-md-6">
        <h5>{{ kit.name }}</h5>
        <form id="kit-form-{{ kit.id }}" method="POST" class="kit-form">
            {% csrf_token %}
            <input type="hidden" name="kit_id" value="{{ kit.id }}">
            <table class="table">
                <tbody>
                    {% for variation in kit.variacoes.all %}

                        <tr>
                            <td><img src="{{ variation.produto_pai.image.url }}" alt="{{ variation.name }}"  style="width: 100px;"></td>
                            <td>{{ variation.name }}</td>

                            {% if variation.materia_prima.stock < 10 %}
                                <td><h6 class="text-danger">Sem estoque</h6></td>
                            {% else %}
                            <td>
                                <input class="quantity-input" type="number" name="quantities[]" value="1" min="0"
                                       max="{{ variation.materia_prima.stock|divisor:variation.gasto }}"
                                       data-price="{{ variation.price }}">
                                <input type="hidden" name="variation_ids[]" value="{{ variation.id }}">
                            </td>
                            {% endif %}
                            <td class="price-cell">R$<span class="price-display">{{ variation.price }}</span>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary add-to-kit-button">Adicionar tudo ao carrinho</button>
        </form>

    </div>
            <h2 class="mt-3">Descricao</h2>
            <p>{{ kit.description|linebreaksbr }}</p>

</div>





</div>



<script>
  // Adicione este código JavaScript no final do arquivo
  $(function() {
    $('.quantity-input').on('change', function() {
      var quantity = parseInt($(this).val());
      var priceString = $(this).data('price').toString().replace(',', '.');
      var price = parseFloat(priceString);
      var totalPrice = quantity * price;
      $(this).closest('tr').find('.price-display').text(totalPrice.toFixed(2).replace('.', ','));
    });
  });
</script>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(function() {
  $('.kit-form').on('submit', function(event) {
    event.preventDefault();
    var $form = $(this);
    var data = $form.serialize();
    var url = '{% url "adicionar_kit_ao_carrinho" %}';
    var csrfToken = $('input[name="csrfmiddlewaretoken"]').val(); // Recupera o valor do token CSRF
    $.ajax({
      type: 'POST',
      url: url,
      data: data,
      headers: { 'X-CSRFToken': csrfToken }, // Adiciona o cabeçalho X-CSRFToken à solicitação
      success: function(data) {
      if (data.success) {
        // Recarrega o ícone do carrinho
        $('#cart-icon').load(document.URL + ' #cart-icon');

        // Exibe uma mensagem de sucesso
        $('#alert_success').show();
        $('#alert_container_success').show();
        $('#alert_success').html("Kit adicionado com sucesso");

        // Oculta a mensagem de sucesso após 5 segundos
        setTimeout(function() {
          $('#alert_success').hide();
          $('#alert_container_success').hide();
        }, 5000)


      } else {
        // Exibe uma mensagem de erro
        $('#available-stock').text(data.stock);
        $('#alert-erro').show();
        $('#alert-container-erro').show();
        $('#alert-erro').html(data.error);

        // Oculta a mensagem de erro após 5 segundos
        setTimeout(function() {
          $('#alert-erro').hide();
          $('#alert-container-erro').hide();
        }, 5000)
      }
    },
      error: function(response) {
        console.log(response);
        // Manipule o erro aqui, se necessário
      }
    });
  });
});
</script>





{% endblock %}