{% extends 'base.html' %}
{% block title %}Receita: {{ kit.name }}{% endblock %}
{% load custom_filters %}
{% block content %}

<style>
    .price-cell {
        white-space: nowrap;
    }
    .product-img {
        width: 100%;
        max-height: 300px; /* Aumenta a altura máxima da imagem */
        object-fit: cover; /* Garante que a imagem cubra toda a área disponível */
    }
    .kit-form {
        background-color: #f8f9fa; /* Adiciona um plano de fundo claro ao formulário */
        padding: 15px; /* Adiciona algum preenchimento ao formulário */
        margin-bottom: 15px; /* Adiciona algum espaço abaixo do formulário */
    }
    .kit-form button {
        background-color: #007bff; /* Muda a cor de fundo do botão para azul */
        color: white; /* Muda a cor do texto do botão para branco */
    }
    .kit-form button:hover {
        background-color: #0056b3; /* Muda a cor de fundo do botão para um azul mais escuro quando o mouse está sobre ele */
    }
    .alert {
        padding: 10px;
        margin-top: 10px;
    }
    .alert-success {
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
    }
    .alert-danger {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
    }
    .card-body h5 {
        font-size: 2em; /* Aumenta o tamanho do título do produto */
        font-weight: bold; /* Faz o título do produto ser em negrito */
        margin-bottom: 15px; /* Adiciona algum espaço abaixo do título do produto */
    }
</style>
<div class="container">
    <div class="card">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <img src="{{ kit.image.url }}" alt="{{ kit.name }}" class="img-fluid">
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="card-title"><h5>{{ kit.name }}</h5></div>
                <div class="card-body">
                    <form id="kit-form-{{ kit.id }}" method="POST" class="kit-form">
                        {% csrf_token %}
                        <input type="hidden" name="kit_id" value="{{ kit.id }}">
                        <div class="table-responsive w-100">
                            <table class="table ">
                                <tbody>
                                    {% for variation in kit.variacoes.all %}
                                        <tr>
                                            <td style="width: 20%;"><img src="{{ variation.produto_pai.image.url }}" alt="{{ variation.name }}" class="img-fluid product-img"></td>
                                            <td style="width: 50%;">{{ variation.name }}</td>

                                            {% if variation.materia_prima.stock < 10 %}
                                            <td><h6 class="text-danger">Sem estoque</h6></td>
                                            {% else %}
                                            <td style="width: 20%;">
                                                <input class="quantity-input" type="number" name="quantities[]" value="1" min="0"
                                                max="{{ variation.materia_prima.stock|divisor:variation.gasto }}"
                                                data-price="{{ variation.preco_ou_valor_promocional }}" style="width: 100%;">
                                                <input type="hidden" name="variation_ids[]" value="{{ variation.id }}">
                                            </td>
                                            {% endif %}

                                            <td class="price-cell price-display">R${{ variation.preco_ou_valor_promocional|floatformat:2 }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        </div>
                        <button type="submit" class="btn btn-primary">Adicionar ao carrinho</button>
                    </form>
                </div>

            </div>

        </div>
        <div class="card">
                <div class="card-title"><h2 class="mt-3 text-center">Descrição</h2></div>
                <div class="card-body">

                    <p>{{ kit.description|linebreaksbr }}</p>
                </div>
            </div>
    </div>
</div>

<script>
  // Adicione este código JavaScript no final do arquivo
  $(function() {
    $('.quantity-input').on('change', function() {
      var quantity = parseInt($(this).val());
      var priceString = $(this).data('price').toString().replace(',', '.');
      var price = parseFloat(priceString);
      var totalPrice = quantity * price;
      console.log(quantity)
      console.log(priceString)
      console.log(price)
      console.log(totalPrice)
      $(this).closest('tr').find('.price-display').text("R$" + totalPrice.toFixed(2).replace('.', ','));
    });
  });
</script>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(function() {
  $('.kit-form').on('submit', function(event) {
    event.preventDefault();
    var $form = $(this);
    var data = $form.serialize();
    var url = '{% url "adicionar_kit_ao_carrinho" %}';
    var csrfToken = $('input[name="csrfmiddlewaretoken"]').val(); // Recupera o valor do token CSRF
    $.ajax({
      type: 'POST',
      url: url,
      data: data,
      headers: { 'X-CSRFToken': csrfToken }, // Adiciona o cabeçalho X-CSRFToken à solicitação
      success: function(data) {
      if (data.success) {
        // Recarrega o ícone do carrinho
        $('#cart-icon').load(document.URL + ' #cart-icon');

        // Exibe uma mensagem de sucesso
        $('#alert_success').show();
        $('#alert_container_success').show();
        $('#alert_success').html("Kit adicionado com sucesso");

        // Oculta a mensagem de sucesso após 5 segundos
        setTimeout(function() {
          $('#alert_success').hide();
          $('#alert_container_success').hide();
        }, 5000)


      } else {
        // Recarrega o ícone do carrinho
        $('#cart-icon').load(document.URL + ' #cart-icon');
        // Exibe uma mensagem de erro
        $('#available-stock').text(data.stock);
        $('#alert-erro').show();
        $('#alert-container-erro').show();
        $('#alert-erro').html(data.error);

        // Oculta a mensagem de erro após 5 segundos
        setTimeout(function() {
          $('#alert-erro').hide();
          $('#alert-container-erro').hide();
        }, 5000)
      }
    },
      error: function(response) {
        // Recarrega o ícone do carrinho
        $('#cart-icon').load(document.URL + '#cart-icon');
        console.log(response);
        // Manipule o erro aqui, se necessário
      }
    });
  });
});
</script>





{% endblock %}