{% extends 'base.html' %}

{% block content %}
  <h3>Redefinir senha</h3>
  <form id="meu-form" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Enviar</button>
  </form>


<!--<script>-->
<!--  $(function() {-->
<!--    $('#meu-form').on('submit', function(event) {-->
<!--      event.preventDefault(); // Impede a página de ser recarregada-->

<!--      var email = $('#id_email').val(); // Obtém o valor do campo de email-->
<!--      var csrfToken = $('input[name="csrfmiddlewaretoken"]').val();-->
<!--      // Faz uma solicitação POST para verificar se o email existe na base de dados-->
<!--      $.ajax({-->
<!--        type: 'POST',-->
<!--        url: "{% url 'verificar_email' %}",-->
<!--        data: {-->
<!--          email: email,-->
<!--          'csrfmiddlewaretoken': csrfToken-->
<!--        },-->
<!--        success: function(data) {-->
<!--          // Se o email não existir, exibe uma mensagem de erro e impede o envio do formulário-->
<!--          if (!data.exists) {-->
<!--            $('#mensagem-de-erro').text('O email não está cadastrado no sistema. Por favor, faça o cadastro.').show();-->
<!--            return false;-->
<!--          } else {-->
<!--            // Se o email existir, envia o formulário-->
<!--            $('#meu-form')[0].submit();-->
<!--          }-->
<!--        },-->
<!--        error: function() {-->
<!--          // Exibe uma mensagem de erro genérica-->
<!--          alert('Ocorreu um erro ao verificar o email. Por favor, tente novamente mais tarde.');-->
<!--        }-->
<!--      });-->
<!--    });-->
<!--  });-->
<!--</script>-->



<!--<div id="mensagem-de-erro" style="display: none;"></div>-->
{% endblock %}