<div id="bannermenorSlider" class="carousel slide" data-bs-ride="carousel">

  <div class="carousel-inner">
    {% for banner in active_banners_menor %}
    {% if banner.is_active %}
    
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <img src="{{ banner.image.url }}" class="d-block mx-auto w-100" alt="{{ banner.name }}" style="max-width: 800px;">

<!--        <div class="carousel-caption d-none d-md-block">-->
<!--          <h3>{{ banner.name }}</h3>-->
<!--          <p>{{ banner.description }}</p>-->
<!--        </div>-->
      </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
