<div id="bannerSlider" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    {% for banner in active_banners %}
      <button type="button" data-bs-target="#bannerSlider" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}"></button>
    {% endfor %}
  </div>
  <div class="carousel-inner">
    {% for banner in active_banners %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <img src="{{ banner.image.url }}" class="d-block mx-auto w-100" alt="{{ banner.name }}" style="max-width: 800px;">

<!--        <div class="carousel-caption d-none d-md-block">-->
<!--          <h3>{{ banner.name }}</h3>-->
<!--          <p>{{ banner.description }}</p>-->
<!--        </div>-->
      </div>
    {% endfor %}
  </div>
</div>
