<div id="bannerSlider" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    {% for banner in active_banners %}
    {% if banner.is_active %}
      <button type="button" data-bs-target="#bannerSlider" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}"></button>
    {% endif %}
    {% endfor %}
  </div>
  <div class="carousel-inner">
    {% for banner in active_banners %}
    {% if banner.is_active %}
    
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
         {% if banner.link_url %}
        <a href="{{ banner.link_url }}" target="_blank">
          <img src="{{ banner.image.url }}" class="d-block mx-auto w-100" alt="{{ banner.name }}" style="max-width: 1200px;">
        </a>
      {% else %}
        <img src="{{ banner.image.url }}" class="d-block mx-auto w-100" alt="{{ banner.name }}" style="max-width: 1200px;">
      {% endif %}
      </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
