<div class="carousel-container">
    <div id="carousel-2" class="container">
      <!-- Título -->
      <h3 class="text-center mt-5">Essencias mais vendidas</h3>
      <hr style="border: none; border-top: 1px solid black;">

      <!-- Carrossel -->
            <div class="card-deck  slick-list ">
                {% for product in essencias_mais_vendidos|slice:":10" %}

                {% include 'carrocel_partials/_carrocel_card.html' %}

                {% endfor %}


            </div>

    </div>
</div>






{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/carrocel.css' %}">
<style>

</style>







<script>


$(document).ready(function() {
// Seleciona todos os elementos com a classe "variation-select" e adiciona um listener a eles
$('#carousel-2 .variation-select').change(function() {
  let productId = $(this).data('product-id');
  let selectedVariationId = $(this).val();
  let selectedVariationPrice = $(this).find('option:selected').text().split(' - R$ ')[1];



  // Atualiza o preço exibido
  $('#carousel-2 #price'+productId).text('R$ ' + selectedVariationPrice);

  // Define o ID da variação selecionada no botão "Adicionar ao carrinho"
  $('.add-to-cart-button-2[data-product-id=' + productId + ']').data('variation-id', selectedVariationId);
}).trigger('change'); // Dispara o evento 'change' após a página ser carregada
});


// Associa a função abaixo ao evento "click" do botão "Adicionar ao carrinho"
$('.add-to-cart-button-2').click(function() {
  let productId = $(this).data('product-id');
  let variationId = $(this).data('variation-id');
  let quantity = $(this).siblings('.quantity-input').val();


  // Envia uma requisição AJAX para adicionar o produto ao carrinho
  $.ajax({
    type: 'POST',
    url: '{% url "add_to_cart_carrocel" %}',
    data: {
      'productId': productId,
      'variation_id': variationId,
      'quantity': quantity,
      'csrfmiddlewaretoken': '{{ csrf_token }}'
    },
    dataType: 'json',
    success: function(data) {
      if (data.success) {
        // Recarrega o ícone do carrinho
        $('#cart-icon').load(document.URL + ' #cart-icon');

        // Exibe uma mensagem de sucesso
        $('#alert_success').show();
        $('#alert_container_success').show();
        $('#alert_success').html(data.produto_adicionado);

        // Oculta a mensagem de sucesso após 5 segundos
        setTimeout(function() {
          $('#alert_success').hide();
          $('#alert_container_success').hide();
        }, 5000);

        // Define o valor do input de quantidade para 1
        $('.quantity-input[data-product-id=' + productId + ']').val(1);
      } else {
        // Exibe uma mensagem de erro
        $('#available-stock').text(data.stock);
        $('#alert-erro').show();
        $('#alert-container-erro').show();
        $('#alert-erro').html(data.error);

        // Oculta a mensagem de erro após 5 segundos
        setTimeout(function() {
          $('#alert-erro').hide();
          $('#alert-container-erro').hide();
        }, 5000);

        // Define o valor do input de quantidade para 1
        $('.quantity-input[data-product-id=' + productId + ']').val(1);
      }
    },
    error: function(data) {
      alert('Ocorreu um erro ao adicionar o produto ao carrinho. Tente novamente mais tarde.');
    }
  });
});



</script>


<!--avise-me-->
<script>
<!--avise-me-->

$(document).ready(function() {
  $(".avise-me-button").click(function() {
    let productId = $(this).data('product-id');
    console.log("Product ID: ", productId);
    var url = "{% url 'avise:aviso_estoque' %}";
    var csrftoken = $("[name=csrfmiddlewaretoken]").val();

    // Encontra o botão "avise-me" correspondente no outro carrossel usando o mesmo "productId"
    var otherButton = $('#carousel-1 .avise-me-button[data-product-id="' + productId + '"]');
    if (otherButton.length == 0) {
      otherButton = $('#carousel-2 .avise-me-button[data-product-id="' + productId + '"]');
    }

    $.ajax({
      url: url,
      method: "POST",
      data: {
        product_id: productId,
        csrfmiddlewaretoken: csrftoken
      },
       success: function(data) {
        if (data.success) {
          // Exibe uma mensagem de sucesso
        $('#alert_success').show();
        $('#alert_container_success').show();
        $('#alert_success').html(data.aviso_adicionado);

        // Oculta a mensagem de sucesso após 5 segundos
        setTimeout(function() {
          $('#alert_success').hide();
          $('#alert_container_success').hide();
        }, 5000);


          // Muda o botão "avise-me" nos dois carrosséis para "Aguardando Restoque"
          var buttonHtml = "<button class='btn btn-warning btn-sm w-100' disabled id='botao_aguardando'>Aguardando Restoque</button>";
          $(".avise-me-button[data-product-id='" + productId + "']").replaceWith(buttonHtml);
          otherButton.replaceWith(buttonHtml);
        }
        else {
           // Exibe uma mensagem de erro
        $('#available-stock').text(data.mensagem);
        $('#alert-erro').show();
        $('#alert-container-erro').show();
        $('#alert-erro').html(data.mensagem);

        // Oculta a mensagem de erro após 5 segundos
        setTimeout(function() {
          $('#alert-erro').hide();
          $('#alert-container-erro').hide();
        }, 5000);

        }
      },
      error: function(xhr, errmsg, err) {
        alert("Erro ao cadastrar aviso!" + errmsg.message);
      }
    });
  });
});
</script>

