<div class="carousel-container">
    <div id="carousel_2" class="container ">
        <!-- Título -->
        <h3 class="text-center mt-5">Juices mais vendidos</h3>
        <hr style="border: none; border-top: 1px solid black;">

        <!-- Carrossel -->
            <div class="card-deck  slick-list ">
                {% for product in juices_mais_vendidos|slice:":10" %}


                {% include 'carrocel_partials/_carrocel_card.html' %}

                {% endfor %}


            </div>

    </div>
</div>











<script>


$(document).ready(function() {
  // Seleciona todos os elementos com a classe "variation-select" e adiciona um listener a eles
  $('#carousel_2 .variation-select').change(function() {
    let $carousel_2 = $(this).closest('#carousel_2');
    let productId = $(this).data('product-id');
    let selectedVariationId = $(this).val();
    let selectedVariationPrice = $(this).find('option:selected').text().split(' - R$ ')[1];
    let selectedOption = $(this).find('option:selected');
    let originalPrice = selectedOption.data('original-price');
    let promoPrice = selectedOption.data('promo-price');
    let precoPromocional = selectedOption.data('preco-promocional');
    let promocaoAtiva = selectedOption.data('promocao_ativa');

    let priceDisplay;
    if (precoPromocional !== "None" && precoPromocional !== '0,00' && precoPromocional !== '' && promocaoAtiva === 'True') {
    priceDisplay = '<span class="original-price">De <del>R$ ' + originalPrice + '</del> por </span> <span class="promo-price">R$' + promoPrice + '</span>';

    } else {
      priceDisplay = 'R$ ' + promoPrice;
    }
    console.log(promocaoAtiva, precoPromocional, promoPrice, selectedVariationId,productId)
    // Atualiza o preço exibido
    $carousel_2.find('#price'+productId).html(priceDisplay);


    // Define o ID da variação selecionada no botão "Adicionar ao carrinho"
    $carousel_2.find('.add-to-cart-button[data-product-id=' + productId + ']').data('variation-id', selectedVariationId);
  }).trigger('change'); // Dispara o evento 'change' após a página ser carregada
});


// Associa a função abaixo ao evento "click" do botão "Adicionar ao carrinho"
$('#carousel_2 .add-to-cart-button').click(function() {
  let $carousel_2 = $(this).closest('#carousel_2');
  let productId = $(this).data('product-id');
  let variationId = $(this).data('variation-id');
  let quantity = $(this).siblings('.quantity-input').val();


  // Envia uma requisição AJAX para adicionar o produto ao carrinho
  $.ajax({
    type: 'POST',
    url: '{% url "add_to_cart_carrocel" %}',
    data: {
      'productId': productId,
      'variation_id': variationId,
      'quantity': quantity,
      'csrfmiddlewaretoken': '{{ csrf_token }}'
    },
    dataType: 'json',
    success: function(data) {
      if (data.success) {
        // Recarrega o ícone do carrinho
        $('#cart-icon').load(document.URL + ' #cart-icon');

        // Exibe uma mensagem de sucesso
        $('#alert_success').show();
        $('#alert_container_success').show();
        $('#alert_success').html(data.produto_adicionado);

        // Oculta a mensagem de sucesso após 5 segundos
        setTimeout(function() {
          $('#alert_success').hide();
          $('#alert_container_success').hide();
        }, 5000);

        // Define o valor do input de quantidade para 1
        $('.quantity-input[data-product-id=' + productId + ']').val(1);
      } else {
        // Exibe uma mensagem de erro
        $('#available-stock').text(data.stock);
        $('#alert-erro').show();
        $('#alert-container-erro').show();
        $('#alert-erro').html(data.error);

        // Oculta a mensagem de erro após 5 segundos
        setTimeout(function() {
          $('#alert-erro').hide();
          $('#alert-container-erro').hide();
        }, 5000);

        // Define o valor do input de quantidade para 1
        $('.quantity-input[data-product-id=' + productId + ']').val(1);
      }
    },
    error: function(data) {
      alert('Ocorreu um erro ao adicionar o produto ao carrinho. Tente novamente mais tarde.');
    }
  });

});



</script>




</script>