{% load static %}


<!-- Carregar CSS do Slick Carousel -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />
<!-- Carregar JavaScript do Slick Carousel -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<!-- Container principal -->



</script>
<div id="carousel" class="container ">

  <!-- Título -->
  <h3 class="text-center mt-5">Produtos mais vendidos</h3>
    <hr style="border: none; border-top: 1px solid black;">
  <!-- Carrossel -->
  <div class="card-deck  slick-list ">
{% for product in produtos_mais_vendidos|slice:":10" %}
<div class="col  product-card">
    <div class="card ">
        <a href="{% url 'product_detail' product.slug %}">
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top" >
        </a>
        <div class="card-body" style="height: 220px;">
            <h5 class="card-title" style="max-height: 50px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; cursor: pointer;" onclick="window.location.href='{% url 'product_detail' product.slug %}';">{{ product.name }}</h5>

            <small style="font-size: 0.8rem; color: #999;">{{ product.marca }}</small>
            {% if product.variation_set.exists %}
                <select name="variation" class="variation-select form-select form-control-sm w-100" data-product-id="{{ product.id }}" >
                    {% for variation in product.variation_set.all %}
                        <option value="{{ variation.id }}">{% if variation.nome_simplificado %} {{ variation.nome_simplificado }} - R$ {{ variation.price }} {% else %} {{ variation.name }} - R$ {{ variation.price }} {% endif %}</option>
                    {% endfor %}
                </select>
                <p class="mb-1" id="price{{ product.id }}">R$ {{ product.variation_set.first.price }}</p>
            {% else %}
                <p class="mb-1" style="max-height: 50px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{ product.price }}</p>
            {% endif %}
            <div class="d-flex align-items-center add-to-cart-form" style="margin-top: auto;">
                {% if product.variation_set.exists %}
                    {% with materia_prima_stock=product.variation_set.first.materia_prima.stock %}
                {% if materia_prima_stock > 1000 %}
                <button type="submit" class="btn btn-danger btn-sm w-75 add-to-cart-button" data-product-id="{{ product.id }}" data-variation-id="">Adicionar</button>
                <input type="number" class="form-control form-control-sm mr-2 w-25 quantity-input" data-product-id="{{ product.id }}" value="1" min="1" max="{%if product.variation %} {{ product.variation.materia_prima.stock }} {{ else }} {{ product.stock }} {% endif %}">
                {% else %}
                    <button  class="btn btn-danger btn-sm w-100 " >Sem estoque</button>
                {% endif %}
                {% endwith %}
                {% endif %}

            </div>
        </div>
    </div>
</div>

{% endfor %}






  </div>
</div>



<!-- Estilo CSS para o Slick Carousel -->
<style>


  /* Definir largura máxima da lista (container) do carrossel */
  .slick-list {
	max-width: 1200px;
	margin: 0 auto; /* centralizar o container na tela */
	padding: 5px 20px; /* adicionar padding em cima e em baixo */
  }

  /* Estilo para cada slide do carrossel */
  .slick-list .slick-slide {
	font-size: 20px; /* tamanho da fonte */
	text-align: center; /* centralizar o texto */
	padding: 2px 20px; /* adicionar padding à esquerda e à direita */
	line-height: 2; /* altura da linha */
	font-weight: 700; /* peso da fonte */
  }

  /* Estilo para slides ímpares */
  .slick-list .slick-slide:nth-child(odd) {

  }

  /* Estilo para as setas de navegação */
  .slick-arrow {
	z-index: 1; /* definir camada */
	width: 69px; /* largura */
	height: 30px; /* altura */

  }

  /* Estilo para o ícone dentro das setas */
  .slick-arrow:before {
	font-size: 50px; /* tamanho da fonte */
	color: #000000; /* cor */


  }

  /* Posicionamento da seta "próximo" */
  .slick-next {
	right: -7px; /* posicionar à direita */
  }

  /* Posicionamento da seta "anterior" */
  .slick-prev {
	left: -7px; /* posicionar à esquerda */
  }


@media (max-width: 600px) {
  .product-card {
    height: 500px;
  }
}


</style>








<script>


  // Mostra o spinner quando a página começa a ser carregada
  $(window).on('load', function() {
    $('#loader').removeClass('d-none');
  });

  // Esconde o spinner quando a página é totalmente carregada
  $(document).ready(function() {
    $('#loader').addClass('d-none');
  });


$(document).ready(function() {
  // Seleciona todos os elementos com a classe "variation-select" e adiciona um listener a eles
  $('.variation-select').change(function() {
    let productId = $(this).data('product-id');
    let selectedVariationId = $(this).val();
    let selectedVariationPrice = $(this).find('option:selected').text().split(' - R$ ')[1];



    // Atualiza o preço exibido
    $('#price'+productId).text('R$ ' + selectedVariationPrice);

    // Define o ID da variação selecionada no botão "Adicionar ao carrinho"
    $('.add-to-cart-button[data-product-id=' + productId + ']').data('variation-id', selectedVariationId);
  }).trigger('change'); // Dispara o evento 'change' após a página ser carregada
});


// Associa a função abaixo ao evento "click" do botão "Adicionar ao carrinho"
$('.add-to-cart-button').click(function() {
  let productId = $(this).data('product-id');
  let variationId = $(this).data('variation-id');
  let quantity = $(this).siblings('.quantity-input').val();


  // Envia uma requisição AJAX para adicionar o produto ao carrinho
  $.ajax({
    type: 'POST',
    url: '{% url "add_to_cart_carrocel" %}',
    data: {
      'productId': productId,
      'variation_id': variationId,
      'quantity': quantity,
      'csrfmiddlewaretoken': '{{ csrf_token }}'
    },
    dataType: 'json',
    success: function(data) {
      if (data.success) {
        // Recarrega o ícone do carrinho
        $('#cart-icon').load(document.URL + ' #cart-icon');

        // Exibe uma mensagem de sucesso
        $('#alert_success').show();
        $('#alert_container_success').show();
        $('#alert_success').html(data.produto_adicionado);

        // Oculta a mensagem de sucesso após 5 segundos
        setTimeout(function() {
          $('#alert_success').hide();
          $('#alert_container_success').hide();
        }, 5000);

        // Define o valor do input de quantidade para 1
        $('.quantity-input[data-product-id=' + productId + ']').val(1);
      } else {
        // Exibe uma mensagem de erro
        $('#available-stock').text(data.stock);
        $('#alert-erro').show();
        $('#alert-container-erro').show();
        $('#alert-erro').html(data.error);

        // Oculta a mensagem de erro após 5 segundos
        setTimeout(function() {
          $('#alert-erro').hide();
          $('#alert-container-erro').hide();
        }, 5000);

        // Define o valor do input de quantidade para 1
        $('.quantity-input[data-product-id=' + productId + ']').val(1);
      }
    },
    error: function(data) {
      alert('Ocorreu um erro ao adicionar o produto ao carrinho. Tente novamente mais tarde.');
    }
  });
});





</script>
