<!-- Rastreamento Modal -->
            <div class="modal fade" id="rastreamentoModal-{{ pedido.id }}" tabindex="-1" role="dialog" aria-labelledby="rastreamentoModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="rastreamentoModalLabel">Adicionar rastreamento</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                        </div>
                        <div class="modal-body">
                            <form id="rastreamentoForm-{{ pedido.id }}">
                                <div class="form-group">
                                    <input type="text" id="input-rastreamento" placeholder="Código de rastreamento"/>
<!--                                    <button onclick="salvarRastreamento({{ pedido.id }})">Salvar</button>-->
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-primary" onclick="salvarRastreamento({{ pedido.id }})">Salvar</button>
                        </div>
                    </div>
                </div>
            </div>