{% load static %}
<div class="container-fluid bg-danger">
    <div class="text-center ">
        <div class="d-flex flex-column  justify-content-between align-items-end">
        {% include 'partials/_login_logout_cadastro_nav_bar.html' %}
        </div>
    </div>
</div>

        <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">


            <a class="my-2" href="{% url 'home' %}">
                <img src="{% static 'imagens/xflavors_logo_comprido.png' %}" alt="Logo da Empresa" style="max-width: 200px;">
            </a>

            <div class="my-2 d-flex   align-items-center">

                {% include 'partials/_search.html' %}
                {% include 'partials/_carrinho_navbar.html' %}



            </div>
        </div>


    <div id="search-results" style="display: none;">
        <ul class="list-unstyled"></ul>
    </div>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <!-- Menu de categorias -->


                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    {% for category in categorias %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
           data-bs-toggle="dropdown" aria-expanded="false">
            {{ category.name }}
        </a>
        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
            {% for subcategory in category.subcategory_set.all %}
            <a class="dropdown-item text-white" href="{% url 'produto_por_subcategoria' category.pk subcategory.pk %}">
                {{ subcategory.name }}
            </a>
            {% endfor %}
        </div>
    </li>
    {% endfor %}
    <li class="nav-item ">
          <a class="nav-link " href="{% url 'receitas'%}"  role="button"
           >
              Receitas
          </a>
    </li>
</ul>



            </div>






        </div>


    </nav>




<style>
.dropdown-menu-categorias {
  position: relative;
}

.dropdown-menu-categorias.mx-auto:before {
  content: "";
  display: inline-block;
  width: 0.5rem;
  height: 100%;
  vertical-align: middle;
  margin-right: 0.5rem;
  border-right: 1px solid red;
}

    <style>


.link-no-style {
  text-decoration: none;
  color: inherit;
}

  #cart-icon {
  display: inline-block;
  position: relative;
}

#cart-icon .badge {
  position: absolute;
  top: -3px;
  right: -3px;
  background-color: red;
  color: white;
  padding: 3px 5px;
  border-radius: 50%;
  font-size: 10px;
  font-weight: bold;
}

.navbar {
  font-family: 'Open Sans';
}


    </style>


    <script>
  $(document).ready(function() {
  $('#cart-icon').on('click', '.remove-item', function(e) {
    e.preventDefault();

    var variationId = $(this).data('variation-id');
    var productId = $(this).data('product-id');
    var csrfToken = $('input[name="csrfmiddlewaretoken"]').val();

    console.log('CARINHOvariationId:', variationId);
    console.log('CARINHOproductId:', productId);

    $.ajax({
      url: "{% url 'cart:remove_item' %}",
      type: 'POST',
      data: {
        'variation_id': variationId,
        'product_id': productId,
        'csrfmiddlewaretoken': csrfToken
      },
      success: function(data) {
        console.log(data);
        $('#cart-icon').load(document.URL + ' #cart-icon');
      },
      error: function(error) {
        console.log(error);
        location.reload(); // recarrega a página quando a requisição falha
      }
    });
  });
});



    </script>

