
     /* Definir largura máxima da lista (container) do carrossel */
  .carousel-container {
	max-width: 1200px;
	margin: 0 auto; /* centralizar o container na tela */
	padding: 50px 20px; /* adicionar padding em cima e em baixo */
  }

  /* Estilo para cada slide do carrossel */
  .carousel-container .slick-slide {
	font-size: 20px; /* tamanho da fonte */
	text-align: center; /* centralizar o texto */
	padding: 2px 20px; /* adicionar padding à esquerda e à direita */
	line-height: 2; /* altura da linha */
	font-weight: 700; /* peso da fonte */
  }

  /* Estilo para slides ímpares */
  .carousel-container .slick-slide:nth-child(odd) {

  }

  /* Estilo para as setas de navegação */
  .slick-arrow {
	z-index: 100; /* definir camada */
	width: 15px; /* largura */
	height: 15px; /* altura */

  }

  /* Estilo para o ícone dentro das setas */
  .slick-arrow:before {
	font-size: 60px; /* tamanho da fonte */
	color: #000000; /* cor */
	z-index: 1; /* definir camada */


  }

  /* Posicionamento da seta "próximo" */
  .slick-next {
	right: 9px; /* posicionar à direita */

  }

  /* Posicionamento da seta "anterior" */
  .slick-prev {
	left: -36px; /* posicionar à esquerda */

  }

.slick-slider {
    overflow: visible;
}
.slick-prev:before, .slick-next:before {
    display: inline-block;
}

@media (max-width: 600px) {
  .product-card {
    height: 500px;
  }
}
