{% extends 'base.html' %}

{% block content %}
  <h2>Informações de Envio</h2>
  <p>Na Xflavors, garantimos que todos os produtos sejam embalados e enviados de forma segura e discreta, priorizando a satisfação de nossos clientes.</p>

  <h3>Processamento e Envio dos Pedidos</h3>
  <p>Geralmente, os pedidos são despachados em até 1 dia útil após a confirmação do pagamento. No entanto, reservamo-nos o direito de levar até 3 dias úteis para concluir o envio, a fim de garantir a qualidade e eficiência do processo.</p>

  <h3>Atrasos na Entrega</h3>
  <p>Ressaltamos que não nos responsabilizamos por atrasos na entrega após a postagem do produto, visto que isso depende exclusivamente dos serviços dos Correios ou transportadoras.</p>

  <h3>Contato</h3>
  <p>Caso tenha dúvidas ou precise de informações adicionais sobre o envio de seu pedido, não hesite em entrar em contato conosco pelo e-mail: xflavors@gmail.com. Estamos sempre à disposição para ajudá-lo.</p>
{% endblock %}
