<div class="col  product-card">
                    <div class="card mt-2">
                        <a href="{% url 'product_detail' product.slug %}">
                            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top">
                        </a>

                        <!-- Adiciona o botão de favorito sobre a imagem do produto -->
        <button id="favorite-btn-{{ product.id }}" class="btn favorite-btn position-absolute top-0 end-0 m-3 text-danger" onclick="addToFavorites({{ product.id }})">
            {% if product.id in favoritos %}
            <i class="fas fa-heart"></i>
            {% else %}
            <i class="far fa-heart"></i>
            {% endif %}
        </button>
                        <div class="card-body " style="height: 220px;">


                            <h5 id="product-{{ product.id }}" class="card-title" onclick="window.location.href='{% url 'product_detail' product.slug %}';">
    {{ product.name }}
</h5>
<style>
    .card-title {
        max-height: 50px;
        line-height: 1em;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        cursor: pointer;
        padding-bottom: 0.2em;
        box-sizing: border-box;
    }
</style>

<script>
    function adjustCardTitleHeight() {
        const cardTitles = document.querySelectorAll('.card-title');

        cardTitles.forEach(cardTitle => {
            const lineHeight = parseFloat(window.getComputedStyle(cardTitle).lineHeight);
            const actualHeight = cardTitle.offsetHeight;

            if (actualHeight < lineHeight * 2) {
                cardTitle.style.height = `${lineHeight * 2}px`;
            }
        });
    }

    document.addEventListener('DOMContentLoaded', adjustCardTitleHeight);
</script>



                            {% if product.marca %} <small style="font-size: 0.8rem; color: #999;">{{ product.marca }}</small> {% else %} <br> {% endif %}
<!--                            &lt;!&ndash;                            favorito&ndash;&gt;-->
<!--                           <button id="favorite-btn-{{ product.id }}" class="btn favorite-btn text-danger" onclick="addToFavorites({{ product.id }})">-->
<!--                            {% if product.id in favoritos %}-->
<!--                                <i class="fas fa-heart"></i>-->
<!--                            {% else %}-->
<!--                                <i class="far fa-heart"></i>-->
<!--                            {% endif %}-->
<!--                        </button>-->

<style>

    .favorite-btn {
    z-index: 2;
}
.card-img-top {
    z-index: 1;
}
</style>
<!--                        fim favorito    -->
                            {% if product.variation_set.exists %}
                            <select name="variation" class="variation-select form-select form-control-sm w-100"
                                    data-product-id="{{ product.id }}">
                                {% for variation in product.variation_set.all %}
                                <option value="{{ variation.id }}" data-original-price="{{ variation.price }}"
                                        data-promo-price="{{ variation.preco_ou_valor_promocional }}"
                                        data-preco-promocional="{{ variation.preco_promocional }}"
                                        data-promocao_ativa="{{ variation.promocao_ativa }}" >
                                {% if variation.nome_simplificado %}
                                    {{variation.nome_simplificado }} - R${{ variation.preco_ou_valor_promocional }}

                                {% else %}
                                    {{ variation.name }} - R${{ variation.preco_ou_valor_promocional }}
                                    {% endif %}
                                </option>
                                {% endfor %}
                            </select>
                            <p class="mb-1" id="price{{ product.id }}">R$ {{ product.variation_set.first.price }}</p>
                            {% else %}
                            <p class="mb-1 "
                               style="max-height: 50px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-top: 37px">
                                {% if product.preco_promocional and product.promocao_ativa %}<span class="original-price">De <del>R${{ product.price }}</del></span> por ${{ product.preco_ou_valor_promocional }} {%else%} R${{ product.preco_ou_valor_promocional }} {%endif%}</p>
                            {% endif %}

                            <div id="botao-container{{ product.id }}">

                                <div class="d-flex align-items-center add-to-cart-form" style="margin-top: auto;">
                                    {% if product.variation_set.exists %}
                                    {% with materia_prima_stock=product.variation_set.first.materia_prima.stock %}
                                    {% if materia_prima_stock > 10 %}
                                    <button type="submit" class="btn btn-danger btn-sm w-75 add-to-cart-button"
                                            data-product-id="{{ product.id }}" data-variation-id="">Adicionar
                                    </button>
                                    <input type="number" class="form-control form-control-sm mr-2 w-25 quantity-input"
                                           data-product-id="{{ product.id }}" value="1" min="1"
                                           max="{% if product.variation %} {{ product.variation.materia_prima.stock }} {{ else }} {{ product.stock }} {% endif %}">
                                    {% else %}

                                    {% if product.id in produtos_notificados %}
                                        <button class="btn btn-warning btn-sm w-100" disabled id="botao_aguardando">Aguardando Restoque</button>
                                    {% else %}
                                    <button class="btn btn-danger btn-sm w-100 avise-me-button" data-product-id="{{ product.id }}" >Avisar-me </button>
                                    {% endif %}

                                    {% endif %}
                                    {% endwith %}


                                    {% elif product.stock < 1 %}
                                    <button class="btn btn-danger btn-sm w-100 avise-me-button" data-product-id="{{ product.id }}" >Avisar-me </button>



                                    {% else %}
                                    <button type="submit" class="btn btn-danger btn-sm w-75 add-to-cart-button"
                                            data-product-id="{{ product.id }}" data-variation-id="">Adicionar
                                    </button>

                                    <input type="number" class="form-control form-control-sm mr-2 w-25 quantity-input"
                                           data-product-id="{{ product.id }}" value="1" min="1"
                                           max="{%if product.variation %} {{ product.variation.materia_prima.stock }} {{ else }} {{ product.stock }} {% endif %}">

                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


