<!DOCTYPE html>
{% load static %}
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- CSS externo -->

    <!-- Estilos internos -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/loading.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.css' %}">




    <!-- Scripts internos (aqueles que não dependem do DOM completo) -->
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'js/jquery.dataTables.js' %}"></script>

    <!-- Scripts para autenticação -->
     {% if user.is_authenticated %}
    <script>
    var userEmail = '{{ user.email }}'
    </script>
    <script type="text/javascript" src="{% static 'js/autenticacao_brevo.js' %}"></script>
    {% endif %}

    {% block extra_css %}{% endblock %}
</head>

<body class="bg-light">


    {% include 'partials/_loading.html' %}
    {% include 'partials/_alertas.html' %}

        {% block content %}{% endblock %}


    <!-- Scripts externos (aqueles que dependem do DOM completo) -->

    <!-- Scripts internos -->
      <script src="{% static 'js/loading.js' %}"></script>
{% block extra_js %}{% endblock %}
</body>
</html>
