<!DOCTYPE html>
{% load static %}
<html lang="pt">
<head>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'imagens/18LogoXflavors.png' %}" type="image/x-icon">
     <!-- Metadados -->
    <meta charset="UTF-8">
    <title>{% block title %}Home{% endblock %} | Xflavors</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Estilos Externos -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <!-- Estilos internos -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/rodape.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/loading.css' %}">

<!-- Scripts para autenticação -->

    {% if user.is_authenticated %}
    <script>
    var userEmail = '{{ user.email }}'
    </script>
    <script type="text/javascript" src="{% static 'js/autenticacao_brevo.js' %}"></script>
    {% endif %}
</head>
<body class="bg-light d-flex flex-column min-vh-100">
{% include 'partials/_loading.html' %}
{% include 'partials/_alertas.html' %}
{% include 'partials/_navbar.html' %}
<!--{% include 'partials/_loading.html' %}-->
{% include 'partials/_whatsappfixo.html' %}





  <div class="container mt-5">
  {% block content %}{% endblock %}
  </div>



{% include 'partials/_rodape.html' %}
<!-- Scripts Externos -->

<!-- Scripts internos -->
<!--RODAPE-->

<!--LOADING/CARREGANDO-->
<script src="{% static 'js/loading.js' %}"></script>
</body>
</html>
