{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="mt-5">Dashboard do Cliente</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card mt-4">
                <div class="card-header">
                    Informações do Cliente
                </div>
                <div class="card-body ">
                    <h5 class="card-title">{{ cliente }}</h5>
                    <p class="card-text"><strong>Email:</strong> {{ cliente.user.email }}</p>
<!--                    FORM CELULAR-->
                    <form method="POST" id="form-celular">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="input-celular" class="form-label">Celular:</label>
                            <input type="text" class="form-control"  name="celular" value="{{ cliente.celular }}"
                                   id="input-celular" disabled>
                        </div>
                        <button type="button" class="btn btn-primary" id="btn-edit-celular">Editar</button>
                        <button type="submit" class="btn btn-primary d-none" id="btn-save-celular">Salvar</button>
                    </form>
<!--                 FORM CPF-->
                    <form method="POST" id="form-cpf">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="cpf" class="form-label">CPF:</label>
                            <input type="text" class="form-control" maxlength="15" name="cpf" id="cpf" value="{{ cliente.cpf }}"
                                    disabled>
                            <div class="invalid-feedback">
                                CPF inválido.
                            </div>
                            <div class="valid-feedback">
                                CPF válido.
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary" id="btn-edit-cpf">Editar</button>
                        <button type="submit" class="btn btn-primary d-none" id="btn-save-cpf">Salvar</button>
                    </form>

<!--                 CUPONS E PROMOCOES-->
                    <div>
                    <p class= "my-2"><strong>Newsletter:</strong><br>
                    <small>Receber emails com cupons e novidades</small></p>

                    <div id="propaganda-toggle">
                        {% if cliente.propaganda %}

                        <p class="h6 text-success" >Ativado</p>
                        {% else %}
                        <p class="h6 text-danger" >Desativado</p>
                        {% endif %}
                        <button type="button" class="btn btn-primary" id="toggle-btn">Alterar</button>
                    </div>
                    </div>



                </div>
            </div>
        </div>









<!--        &lt;!&ndash;    ENDERECOS    &ndash;&gt;-->
<!--        <div class="col-md-8">-->
<!--            <div class="card mt-4">-->
<!--                <div class="card-header">-->

<!--                    <ul class="nav nav-tabs card-header-tabs">-->
<!--                      <li class="nav-item">-->
<!--                        <a class="nav-link active" aria-current="true" href="#">Endereço</a>-->
<!--                      </li>-->
<!--                      <li class="nav-item">-->
<!--                        <a class="nav-link" href="#">Aguardando reestoque</a>-->
<!--                      </li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--                <div class="card-body" id="card-body">-->
<!--                    <h5 class="card-title">Endereços</h5>-->
<!--                    <ul class="list-group" style="max-height: 250px; overflow-y: auto;">-->
<!--                        {% for endereco in enderecos %}-->
<!--                        <li class="list-group-item d-flex" style="font-size: 14px">-->
<!--                            <div class="col-9">-->
<!--                                <strong>Endereço:</strong> {{ endereco.rua }} , {{ endereco.numero }},-->
<!--                                {{ endereco.bairro }} <br>-->
<!--                                <strong>Cidade: </strong>{{ endereco.cidade }} / {{ endereco.estado }} <br>-->
<!--                                <strong>Cep:</strong> {{ endereco.cep }}-->
<!--                                {% if endereco.complemento %} <br> <strong>Complemento:</strong>-->
<!--                                {{ endereco.complemento }}-->
<!--                                {% endif %}-->

<!--                            </div>-->
<!--                            <div class="col-3 ms-auto">-->
<!--                                <button id="editar-endereco" data-endereco-id="{{ endereco.id }}"-->
<!--                                        class="btn btn-primary me-2">Editar-->
<!--                                </button>-->
<!--                                <button id="excluir-endereco" data-endereco-id="{{ endereco.id }}"-->
<!--                                        class="btn btn-danger">Excluir-->
<!--                                </button>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                        {% empty %}-->
<!--                        <li class="list-group-item">Nenhum endereço cadastrado.</li>-->
<!--                        {% endfor %}-->
<!--                    </ul>-->

<!--                    <div id="editar-endereco-container" data-endereco-id="{{ endereco.id }}"></div>-->
<!--                </div>-->
<!--                <button id="adicionar_endereco" data-endereco-id="{{ endereco.id }}" class="btn btn-primary mt-3">-->
<!--                    Adicionar-->
<!--                    Endereço-->
<!--                </button>-->
<!--                <div id="adicionar_endereco_container"></div>-->
<!--            </div>-->
<!--        </div>-->

<!--    </div>-->





<div class="col-md-8">
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" id="myTab">
                <li class="nav-item">
                    <a href="#home" class="nav-link active" data-bs-toggle="tab">Endereço</a>
                </li>
                <li class="nav-item">
                    <a href="#reestoque" class="nav-link" data-bs-toggle="tab">Avise-me</a>
                </li>
                <li class="nav-item">
                    <a href="#messages" class="nav-link" data-bs-toggle="tab">Favoritos</a>
                </li>
            </ul>
        </div>

            <div class="tab-content">
                <div class="tab-pane fade show active" id="home">
                    <div class="card-body card-endereco" id="card-body">
<!--                    ENDERECOS        -->
                    <ul class="list-group" style="max-height: 400px; overflow-y: auto;">
                        {% for endereco in enderecos %}
                        <li class="list-group-item d-flex" style="font-size: 14px">
                            <div class="col-9">
                                <strong>Endereço:</strong> {{ endereco.rua }} , {{ endereco.numero }},
                                {{ endereco.bairro }} <br>
                                <strong>Cidade: </strong>{{ endereco.cidade }} / {{ endereco.estado }} <br>
                                <strong>Cep:</strong> {{ endereco.cep }}
                                {% if endereco.complemento %} <br> <strong>Complemento:</strong>
                                {{ endereco.complemento }}
                                {% endif %}

                            </div>
                            <div class="col-3 ms-auto">
                                <button id="editar-endereco" data-endereco-id="{{ endereco.id }}"
                                        class="btn btn-primary me-2">Editar
                                </button>
                                <button id="excluir-endereco" data-endereco-id="{{ endereco.id }}"
                                        class="btn btn-danger">Excluir
                                </button>
                            </div>
                        </li>
                        {% empty %}
                        <li class="list-group-item">Nenhum endereço cadastrado.</li>
                        {% endfor %}
                    </ul>

                    <div id="editar-endereco-container" data-endereco-id="{{ endereco.id }}"></div>
                </div>
                <button id="adicionar_endereco" data-endereco-id="{{ endereco.id }}" class="btn btn-primary m-3">
                    Adicionar Endereço
                </button>
                <div id="adicionar_endereco_container"></div>
                </div>


                <!--                    AVISOS        -->

                <div class="tab-pane fade" id="reestoque">
                    <div class="card-body card-aviso">
                        <p class="card-text">Lista de produtos para serem notificados ao ter reestoque </p>
                        <ul class="list-group" style="max-height: 400px; overflow-y: auto;">
                            <div id="avisos-container">
                              {% for aviso in avisos %}
                              <li class="list-group-item d-flex" style="font-size: 14px">
                                <div class="col-4 col-lg-2">
                                  <img src="{{ aviso.produto.image.url }}" alt="{{ aviso.produto.name }}" width="100" height="100">
                                </div>
                                <div class="col-6 col-lg-7 mx-2">
                                  <strong>Produto:</strong><br> {{ aviso.produto.name }}<br>
                                    <strong>Data do aviso:</strong><br> {{ aviso.created_at|date:"d/m/Y" }}
                                </div>
                                <div class="col-1  ms-auto">

                                  <button id="excluir-aviso" data-aviso-id="{{ aviso.id }}" class="btn btn-danger mt-3">x</button>
                                </div>
                              </li>
                              {% empty %}
                              <li class="list-group-item">Nenhum aviso cadastrado.</li>
                              {% endfor %}
                            </div>
                        </ul>

                </div>
                </div>


<!--                FAVORITOS-->
                <div class="tab-pane fade" id="messages">
                    <div class="card-body card-favorito">
                        <p class="card-text">Lista de produtos favoritos </p>
                        <ul class="list-group" style="max-height: 400px; overflow-y: auto;">
                            <div id="favoritos-container">
                              {% for favorito in produtos_favoritos %}


                              <li class="list-group-item d-flex" style="font-size: 14px">
                                <div class="col-4 col-lg-2">
                                    <a href="{% url 'product_detail' favorito.slug %}">
                                  <img src="{{ favorito.image.url }} " alt="{{ favorito.name }}" width="100" height="100">
                                    </a>
                                </div>
                                <div class="col-6 col-lg-7 mx-2">
                                  <strong>Produto:</strong><br> {{ favorito.name }} <br>

                                </div>
                                <div class="col-1  ms-auto">

   <!-- Adiciona o botão de favorito sobre a imagem do produto -->
        <button id="favorite-btn-{{ favorito.id }}" class="btn favorite-btn position-absolute top-0 end-0 m-3 text-danger" onclick="addToFavorites({{ favorito.id }})">

            <i class="fas fa-heart"></i>

        </button>                                </div>
                              </li>
                              {% empty %}
                              <li class="list-group-item">Nenhum produto favoritado.</li>
                              {% endfor %}
                            </div>
                        </ul>
                </div>
                </div>
            </div>
        </div>
    </div>

</div>





    <div class="row mt-4">


        <div class="col-md-12">
            {% include 'visualizar_pedidos.html' %}
        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    $('#btn-edit-celular').click(function() {
      $('#input-celular').prop('disabled', false);
      $('#btn-save-celular').removeClass('d-none');
      $(this).addClass('d-none');
    });
  });
</script>





<script>
  $(document).ready(function() {
    $('#form-celular').submit(function(e) {
      e.preventDefault();
      $.ajax({
        url: '{% url "alterar_celular" %}',
        method: 'POST',
        data: $(this).serialize(),
        success: function(data) {
          window.location.reload();
        },
        error: function(xhr, status, error) {
          console.error(error);
        }
      });
    });
  });

</script>

<script>
  $(document).ready(function() {
    $('#btn-edit-cpf').click(function() {
      $('#cpf').prop('disabled', false);
      $('#btn-save-cpf').removeClass('d-none');
      $(this).addClass('d-none');
    });
  });
</script>

<script>
  $(document).ready(function() {
    $('#form-cpf').submit(function(e) {
      e.preventDefault();
      $.ajax({
        url: '{% url "alterar_cpf" %}',
        method: 'POST',
        data: $(this).serialize(),
        success: function(data) {
          window.location.reload();
        },
        error: function(xhr, status, error) {
          console.error(error);
        }
      });
    });
  });

</script>



<script>

  $("#form-cpf").submit(function(event) {
  // Verifica se todos os campos estão válidos
  if (!$(this).find('.is-invalid').length) {
    // Se todos os campos estiverem válidos, retorna true para permitir o envio do formulário
    return true;
  } else {
    // Se algum campo estiver inválido, chama o preventDefault() para impedir o envio do formulário
    event.preventDefault();
    // Rola a página até o primeiro campo inválido
    $('html, body').animate({
        scrollTop: $(this).find('.is-invalid').first().offset().top - 100
    }, 500);
  }
});



</script>

<script>
  $(document).ready(function() {
  var $cpfInput = $("#cpf");
  var $btnSave = $("#btn-save-cpf");

  $cpfInput.on("input", function() {
    var cpf = $(this).val().replace(/\D/g, "");
    console.log(cpf);
    // Verifica se o CPF é composto por onze dígitos
    if (cpf.length != 11 || !validateCPF(cpf)) {
      $(this).addClass("is-invalid");
      $(this).removeClass("is-valid");
      $btnSave.attr("disabled", true);
    } else {
      $(this).addClass("is-valid");
      $(this).removeClass("is-invalid");
      $btnSave.attr("disabled", false);
    }
  });

  function validateCPF(cpf) {
    var sum = 0;
    var rest;

     // Verifica se o CPF é uma sequência de dígitos iguais
  if (/^(\d)\1{10}$/.test(cpf)) {
    return false;
  }

    for (i=1; i<=9; i++) sum = sum + parseInt(cpf.substring(i-1, i)) * (11 - i);
    rest = (sum * 10) % 11;

    if ((rest == 10) || (rest == 11)) rest = 0;
    if (rest != parseInt(cpf.substring(9, 10))) return false;

    sum = 0;
    for (i = 1; i <= 10; i++) sum = sum + parseInt(cpf.substring(i-1, i)) * (12 - i);
    rest = (sum * 10) % 11;

    if ((rest == 10) || (rest == 11)) rest = 0;
    if (rest != parseInt(cpf.substring(10, 11))) return false;
    return true;
  }

  $("#btn-edit-cpf").on("click", function() {
    $cpfInput.prop("disabled", false);
    $btnSave.removeClass("d-none");
    $(this).addClass("d-none");
  });
});
</script>





<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>

$(document).ready(function() {

  $('.card-endereco').on('click', '#excluir-endereco', function(e) {
    e.preventDefault();
    var enderecoId = $(this).data('endereco-id');
    var confirmacao = confirm('Tem certeza que deseja excluir este endereço?');
    if (confirmacao) {
      $.ajax({
        url: '{% url "excluir_endereco_dashboard" %}',
        type: 'POST',
        data: {
          'endereco_id': enderecoId,
          'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success: function(response) {
          if (response.success) {
            window.location.reload();
          } else {
            alert(response.message);
          }
        },
        error: function(xhr, status, error) {
          console.error(error);
        }
      });
    }
  });
});


</script>


<script>

$(document).ready(function() {
  $('.card-body').on('click', '#editar-endereco', function(e) {
    e.preventDefault();
    var enderecoId = $(this).data('endereco-id');
    $.ajax({
      url: '{% url "editar_endereco_dashboard" %}',
      type: 'GET',
      data: {
        'endereco_id': enderecoId,
      },
      success: function(response) {
        $('#editar-endereco-container').html(response);
        $('#fechar-editar-endereco').on('click', function() {
          $('#editar-endereco-container').empty();
        });
        $('#form-editar-endereco').submit(function(e) {
          e.preventDefault();
          $.ajax({
            url: '{% url "editar_endereco_dashboard" %}',
            method: 'POST',
            data: $(this).serialize(),
            success: function(data) {
              if (data.success) {
                $('#editar-endereco-container').empty();
                $('#mensagem').removeClass('alert-danger').addClass('alert-success').text(data.message).show();
              } else {
                $('#mensagem').removeClass('alert-success').addClass('alert-danger').text(data.message).show();
              }
            },
            error: function(xhr, status, error) {
              console.error(error);
            }
          });
        });
      }
    });
  });
});


</script>




<script>
  $(document).ready(function() {
    $('#adicionar_endereco').on('click', function(e) {
      var enderecoId = $(this).data('endereco-id');
      e.preventDefault();
      $.ajax({
        url: '{% url "adicionar_endereco_dashboard" %}',
        type: 'GET',
        data: {
          'endereco_id': enderecoId,
        },
        success: function(response) {
          $('#adicionar_endereco_container').html(response);
          $('#fechar-editar-endereco').on('click', function() {
            $('#adicionar_endereco_container').empty();
          });

          $('#form-editar-endereco').submit(function(e) {
            e.preventDefault();
            $.ajax({
              url: '{% url "editar_endereco_dashboard" %}',
              method: 'POST',
              data: $(this).serialize(),
              success: function(data) {
                if (data.success) {
                  $('#editar-endereco-container').empty();
                  $('#mensagem').removeClass('alert-danger').addClass('alert-success').text(data.message).show();
                } else {
                  $('#mensagem').removeClass('alert-success').addClass('alert-danger').text(data.message).show();
                }
              },
              error: function(xhr, status, error) {
                console.error(error);
              }
            });
          });
        }
      });
    });
  });
</script>



<script>
  $(document).ready(function() {
    $('#abrir-modal-adicionar-endereco').on('click', function(e) {
      e.preventDefault();
      $.ajax({
        url: '{% url "adicionar_endereco_dashboard" %}',
        type: 'GET',
        success: function(response) {
          $('#adicionar-endereco-container').html(response);
          $('#modal-adicionar-endereco').modal('show');
        },
        error: function(xhr, status, error) {
          console.error(error);
        }
      });
    });
  });
</script>


<!--PROPAGANDA-->
<script>

  $(document).ready(function() {
    $('#toggle-btn').click(function() {
      $.ajax({
        url: '{% url "toggle_propaganda" %}',
        method: 'POST',
        data: {
          csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function(data) {
          // Atualiza o texto do botão de acordo com o valor de propaganda
          if (data.propaganda) {
            $('#propaganda-toggle p').html('<p class="h6 text-success" >Ativado</p>');
          } else {
            $('#propaganda-toggle p').html('<p class="h6 text-danger" >Desativado</p>');
          }
        },
        error: function(jqXHR, textStatus, errorThrown) {
          console.log(errorThrown);
        }
      });
    });
  });

</script>



<!--deletar aviso-->

<script>
$(document).ready(function() {

  $('.card-aviso').on('click', '#excluir-aviso', function(e) {
    e.preventDefault();
    var avisoId = $(this).data('aviso-id');
    var confirmacao = confirm('Tem certeza que deseja excluir este aviso?');
    if (confirmacao) {
      $.ajax({
        url: '{% url "avise:mudar_aviso" %}',
        type: 'POST',
        data: {
          'aviso_id': avisoId,
          'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success: function(response) {
          if (response.success) {
                        $('#avisos-container').load(location.href + ' #avisos-container');
          } else {
            alert(response.message);
          }
        },
        error: function(xhr, status, error) {
          console.error(error);
        }
      });
    }
  });
});


</script>


<script>
function addToFavorites(productId) {
    var url = '/add_to_favorites/' + productId + '/';
    $.ajax({
        url: url,
        type: 'POST',
         data: {
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        dataType: 'json',
        success: function(response) {
            if (response.status == 'added') {
                // Produto foi adicionado aos favoritos
                $('#favoritos-container').load(location.href + ' #favoritos-container');
                $('#favorite-btn-' + productId + ' i').removeClass('far').addClass('fas');
            } else if (response.status == 'removed') {
                // Produto foi removido dos favoritos
                $('#favoritos-container').load(location.href + ' #favoritos-container');
                $('#favorite-btn-' + productId + ' i').removeClass('fas').addClass('far');
            }
        },
        error: function(response) {
            console.log('Erro ao adicionar produto aos favoritos:', response);
        }
    });
}
</script>

{% endblock %}
