{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="mt-5">Dashboard do Cliente</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card mt-4">
                <div class="card-header">
                    Informações do Cliente
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ cliente }}</h5>
                    <p class="card-text"><strong>Email:</strong> {{ cliente.user.email }}</p>
                    <form method="POST" id="form-celular">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="input-celular" class="form-label">Celular:</label>
                            <input type="text" class="form-control" name="celular" value="{{ cliente.celular }}"
                                   id="input-celular" disabled>
                        </div>
                        <button type="button" class="btn btn-primary" id="btn-edit-celular">Editar</button>
                        <button type="submit" class="btn btn-primary d-none" id="btn-save-celular">Salvar</button>
                    </form>
                    <form method="POST" id="form-cpf">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="cpf" class="form-label">CPF:</label>
                            <input type="text" class="form-control" name="cpf" id="cpf" value="{{ cliente.cpf }}"
                                    disabled>
                            <div class="invalid-feedback">
                                CPF inválido.
                            </div>
                            <div class="valid-feedback">
                                CPF válido.
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary" id="btn-edit-cpf">Editar</button>
                        <button type="submit" class="btn btn-primary d-none" id="btn-save-cpf">Salvar</button>
                    </form>


                    <p class= "mt-4">Cupons e Promoções:</p>
                    <div id="propaganda-toggle">

                        {% if cliente.propaganda %}
                        <br>Recebendo por email
                        {% else %}
                        <p>Nao esta recebendo por email.</p>
                        {% endif %}
                        <button type="button" class="btn btn-primary" id="toggle-btn">Alterar</button>
                    </div>




                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card mt-4">
                <div class="card-header">
                    Endereços de Entrega
                </div>
                <div class="card-body" id="card-body">
                    <h5 class="card-title">Endereços</h5>
                    <ul class="list-group" style="max-height: 250px; overflow-y: auto;">
                      {% for endereco in enderecos %}
                        <li class="list-group-item d-flex" style="font-size: 14px">
                          <div class="col-9">
                              <strong>Endereço:</strong> {{ endereco.rua }} , {{ endereco.numero }}, {{ endereco.bairro }} <br>
                              <strong>Cidade: </strong>{{ endereco.cidade }} / {{ endereco.estado }} <br>
                              <strong>Cep:</strong> {{ endereco.cep }}
                              {% if endereco.complemento %} <br> <strong>Complemento:</strong> {{ endereco.complemento }} {% endif %}

                          </div>
                          <div class="col-3 ms-auto">
                            <button id="editar-endereco" data-endereco-id="{{ endereco.id }}" class="btn btn-primary me-2">Editar</button>
                            <button id="excluir-endereco" data-endereco-id="{{ endereco.id }}" class="btn btn-danger">Excluir</button>
                          </div>
                        </li>
                      {% empty %}
                        <li class="list-group-item">Nenhum endereço cadastrado.</li>
                      {% endfor %}
                    </ul>

                    <div id="editar-endereco-container" data-endereco-id="{{ endereco.id }}"></div>
                </div>
                 <button id="adicionar_endereco" data-endereco-id="{{ endereco.id }}" class="btn btn-primary mt-3">Adicionar
            Endereço
        </button>
        <div id="adicionar_endereco_container"></div>
            </div>
        </div>

    </div>


    <div class="row mt-4">


        <div class="col-md-12">
            {% include 'visualizar_pedidos.html' %}
        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    $('#btn-edit-celular').click(function() {
      $('#input-celular').prop('disabled', false);
      $('#btn-save-celular').removeClass('d-none');
      $(this).addClass('d-none');
    });
  });
</script>





<script>
  $(document).ready(function() {
    $('#form-celular').submit(function(e) {
      e.preventDefault();
      $.ajax({
        url: '{% url "alterar_celular" %}',
        method: 'POST',
        data: $(this).serialize(),
        success: function(data) {
          window.location.reload();
        },
        error: function(xhr, status, error) {
          console.error(error);
        }
      });
    });
  });

</script>

<script>
  $(document).ready(function() {
    $('#btn-edit-cpf').click(function() {
      $('#cpf').prop('disabled', false);
      $('#btn-save-cpf').removeClass('d-none');
      $(this).addClass('d-none');
    });
  });
</script>

<script>
  $(document).ready(function() {
    $('#form-cpf').submit(function(e) {
      e.preventDefault();
      $.ajax({
        url: '{% url "alterar_cpf" %}',
        method: 'POST',
        data: $(this).serialize(),
        success: function(data) {
          window.location.reload();
        },
        error: function(xhr, status, error) {
          console.error(error);
        }
      });
    });
  });

</script>



<script>

  $("#form-cpf").submit(function(event) {
  // Verifica se todos os campos estão válidos
  if (!$(this).find('.is-invalid').length) {
    // Se todos os campos estiverem válidos, retorna true para permitir o envio do formulário
    return true;
  } else {
    // Se algum campo estiver inválido, chama o preventDefault() para impedir o envio do formulário
    event.preventDefault();
    // Rola a página até o primeiro campo inválido
    $('html, body').animate({
        scrollTop: $(this).find('.is-invalid').first().offset().top - 100
    }, 500);
  }
});



</script>

<script>
  $(document).ready(function() {
  var $cpfInput = $("#cpf");
  var $btnSave = $("#btn-save-cpf");

  $cpfInput.on("input", function() {
    var cpf = $(this).val().replace(/\D/g, "");
    console.log(cpf);
    // Verifica se o CPF é composto por onze dígitos
    if (cpf.length != 11 || !validateCPF(cpf)) {
      $(this).addClass("is-invalid");
      $(this).removeClass("is-valid");
      $btnSave.attr("disabled", true);
    } else {
      $(this).addClass("is-valid");
      $(this).removeClass("is-invalid");
      $btnSave.attr("disabled", false);
    }
  });

  function validateCPF(cpf) {
    var sum = 0;
    var rest;

     // Verifica se o CPF é uma sequência de dígitos iguais
  if (/^(\d)\1{10}$/.test(cpf)) {
    return false;
  }

    for (i=1; i<=9; i++) sum = sum + parseInt(cpf.substring(i-1, i)) * (11 - i);
    rest = (sum * 10) % 11;

    if ((rest == 10) || (rest == 11)) rest = 0;
    if (rest != parseInt(cpf.substring(9, 10))) return false;

    sum = 0;
    for (i = 1; i <= 10; i++) sum = sum + parseInt(cpf.substring(i-1, i)) * (12 - i);
    rest = (sum * 10) % 11;

    if ((rest == 10) || (rest == 11)) rest = 0;
    if (rest != parseInt(cpf.substring(10, 11))) return false;
    return true;
  }

  $("#btn-edit-cpf").on("click", function() {
    $cpfInput.prop("disabled", false);
    $btnSave.removeClass("d-none");
    $(this).addClass("d-none");
  });
});
</script>





<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>

$(document).ready(function() {

  $('.card-body').on('click', '#excluir-endereco', function(e) {
    e.preventDefault();
    var enderecoId = $(this).data('endereco-id');
    var confirmacao = confirm('Tem certeza que deseja excluir este endereço?');
    if (confirmacao) {
      $.ajax({
        url: '{% url "excluir_endereco_dashboard" %}',
        type: 'POST',
        data: {
          'endereco_id': enderecoId,
          'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success: function(response) {
          if (response.success) {
            window.location.reload();
          } else {
            alert(response.message);
          }
        },
        error: function(xhr, status, error) {
          console.error(error);
        }
      });
    }
  });
});


</script>


<script>

$(document).ready(function() {
  $('.card-body').on('click', '#editar-endereco', function(e) {
    e.preventDefault();
    var enderecoId = $(this).data('endereco-id');
    $.ajax({
      url: '{% url "editar_endereco_dashboard" %}',
      type: 'GET',
      data: {
        'endereco_id': enderecoId,
      },
      success: function(response) {
        $('#editar-endereco-container').html(response);
        $('#fechar-editar-endereco').on('click', function() {
          $('#editar-endereco-container').empty();
        });
        $('#form-editar-endereco').submit(function(e) {
          e.preventDefault();
          $.ajax({
            url: '{% url "editar_endereco_dashboard" %}',
            method: 'POST',
            data: $(this).serialize(),
            success: function(data) {
              if (data.success) {
                $('#editar-endereco-container').empty();
                $('#mensagem').removeClass('alert-danger').addClass('alert-success').text(data.message).show();
              } else {
                $('#mensagem').removeClass('alert-success').addClass('alert-danger').text(data.message).show();
              }
            },
            error: function(xhr, status, error) {
              console.error(error);
            }
          });
        });
      }
    });
  });
});


</script>




<script>
  $(document).ready(function() {
    $('#adicionar_endereco').on('click', function(e) {
      var enderecoId = $(this).data('endereco-id');
      e.preventDefault();
      $.ajax({
        url: '{% url "adicionar_endereco_dashboard" %}',
        type: 'GET',
        data: {
          'endereco_id': enderecoId,
        },
        success: function(response) {
          $('#adicionar_endereco_container').html(response);
          $('#fechar-editar-endereco').on('click', function() {
            $('#adicionar_endereco_container').empty();
          });

          $('#form-editar-endereco').submit(function(e) {
            e.preventDefault();
            $.ajax({
              url: '{% url "editar_endereco_dashboard" %}',
              method: 'POST',
              data: $(this).serialize(),
              success: function(data) {
                if (data.success) {
                  $('#editar-endereco-container').empty();
                  $('#mensagem').removeClass('alert-danger').addClass('alert-success').text(data.message).show();
                } else {
                  $('#mensagem').removeClass('alert-success').addClass('alert-danger').text(data.message).show();
                }
              },
              error: function(xhr, status, error) {
                console.error(error);
              }
            });
          });
        }
      });
    });
  });
</script>



<script>
  $(document).ready(function() {
    $('#abrir-modal-adicionar-endereco').on('click', function(e) {
      e.preventDefault();
      $.ajax({
        url: '{% url "adicionar_endereco_dashboard" %}',
        type: 'GET',
        success: function(response) {
          $('#adicionar-endereco-container').html(response);
          $('#modal-adicionar-endereco').modal('show');
        },
        error: function(xhr, status, error) {
          console.error(error);
        }
      });
    });
  });
</script>


<!--PROPAGANDA-->
<script>

  $(document).ready(function() {
    $('#toggle-btn').click(function() {
      $.ajax({
        url: '{% url "toggle_propaganda" %}',
        method: 'POST',
        data: {
          csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function(data) {
          // Atualiza o texto do botão de acordo com o valor de propaganda
          if (data.propaganda) {
            $('#propaganda-toggle p').text('Recebendo por email');
          } else {
            $('#propaganda-toggle p').text('Nao esta recebendo por email.');
          }
        },
        error: function(jqXHR, textStatus, errorThrown) {
          console.log(errorThrown);
        }
      });
    });
  });

</script>


{% endblock %}
