{% extends "base.html" %}

{% block content %}



  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h3 class="text-center mb-3">Login</h3>
        {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
        <form method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" name="email">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password">
          </div>
          <button type="submit" id="submit" class=" my-2 btn btn-primary btn-block">Entrar</button>
        </form>
        <div class="text-center"><a href="{% url 'password_reset' %}">Esqueci minha senha</a></div>

      </div>
    </div>
  </div>



{% endblock %}