{% extends 'base_pagamento.html' %}

{% block content %}
  <div class="row">
    <!-- LADO ESQUERDO -->
    <div class="col-md-8">
      <h2>Pagamento</h2>
      <p>Seu pedido foi criado com sucesso! O número do pedido é {{ pedido_id }}.</p>
      <p>O método de pagamento escolhido foi {{ metodo_de_pagamento }}, siga as instruções abaixo para realizar o pagamento:</p>


<!--      PIX-->
      {% if metodo_de_pagamento == 'Pix' %}
      <h3>Dados de pagamento</h3>
      <p>Para pagar com Pix, utilize a opção de transferência via Pix em seu aplicativo
        ou internet banking e insira a chave Pix.
        Verifique se a chave está correta antes de confirmar o pagamento.
        Qualquer dúvida, entre em contato conosco.</p>
      <p>Chave Pix: <b>xflavors@gmail.com</b></p>
      <button style="background-color: #008CBA; border: none; color: white; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer;"
              onclick="copyToClipboard('xflavors@gmail.com')">Copiar Chave Pix
      </button>
      <h3>Enviar comprovante de pagamento</h3>
      <p>Por favor, envie o comprovante de pagamento para que possamos confirmar o seu pedido.</p>
      <form action="{% url 'paga_pix' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="pedido_id" value="{{ pedido_id }}">
        <div class="form-group">
          <label for="comprovante" class="botao-comprovante" id="botao-comprovante">Selecione o comprovante</label>
<input type="file" name="comprovante" id="comprovante" accept="image/*" required style="display:none;" onchange="updateLabel(this)">



        </div>
        <button type="submit" class="btn btn-primary">Enviar comprovante</button>
      </form>
{% endif %}
<!--      DEPOSITO-->


      {% if metodo_de_pagamento == 'Deposito' %}
      <h3>Dados de pagamento</h3>
      <p>Para pagar via depósito bancário, faça uma transferência para a seguinte conta bancária:</p>
      <p>Banco: Nu Pagamentos S.A. (260)</p>
      <p>Agência: 0001</p>
      <p>Conta Corrente: 27794362-7</p>
      <p>CNPJ: 30059334/0001-00</p>
      <p>Titular da conta: André Moreira Geraseev</p>
      <h3>Enviar comprovante de pagamento</h3>
      <p>Por favor, envie o comprovante de pagamento para que possamos confirmar o seu pedido.</p>
      <form action="{% url 'paga_pix' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="pedido_id" value="{{ pedido_id }}">
        <div class="form-group">
          <label for="comprovante" class="botao-comprovante" id="botao-comprovante">Selecione o comprovante</label>
<input type="file" name="comprovante" id="comprovante" accept="image/*" required style="display:none;" onchange="updateLabel(this)">



        </div>
        <button type="submit" class="btn btn-primary">Enviar comprovante</button>
      </form>
{% endif %}






      <script>
function updateLabel(input) {
  var fileName = input.value.split('\\').pop();
  document.getElementById('botao-comprovante').innerHTML = fileName;
}
</script>


      <style>

        .botao-comprovante {
background-color: #008CBA;
color: #fff;
font-size: 16px;
padding: 10px 20px;
border-radius: 5px;
cursor: pointer;
}

      </style>
      <script>
function copyToClipboard(text) {
  var input = document.createElement("input");
  input.value = text;
  document.body.appendChild(input);
  input.select();
  document.execCommand("copy");
  document.body.removeChild(input);
  alert("Chave Pix copiada para a área de transferência!");
}
</script>


  {% if metodo_de_pagamento == 'MercadoPago' %}
    <h3>Mercado Pago</h3>
    <p>Clique no botao abaixo para finalizar seu pagamento pelo mercado pago, ao finalizar o pagamento aguarde para ser
    redirecionado de volta para o nosso site.</p>
    <a name="" id="" class="btn btn-primary" href="{{ mercadolivre_url }}" role="button">Pagar com Mercado Pago</a>
  {% endif %}
</div>

<!-- LADO DIREITO -->
<div class="col-md-4">
  <h3>Detalhes do Pedido</h3>
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Produto</th>
          <th scope="col">Quantidade</th>
          <th scope="col">Preço Unitário</th>
          <th scope="col">Preço Total</th>
        </tr>
      </thead>
      <tbody>
        {% for item in itens %}
          <tr>
            <td>{% if item.variation %}{{ item.variation }}{% else %}{{ item.product.name }}{% endif %}</td>
            <td>{{ item.quantity }}</td>
            <td>R${% if item.variation %}{{ item.variation.price }}{% else %}{{ item.product.price }}{% endif %}</td>
            <td>R${{ item.valor_total }}</td>
          </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3">Subtotal:</td>
          <td>R${{ subtotal }}</td>
        </tr>
        <tr>
          <td colspan="3">Frete  {{ tipo_frete }}:</td>
          <td> R${{ valor_frete }}</td>
        </tr>
        <tr>
          <td colspan="3">Total:</td>
          <td>R${{ total }}</td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
  </div>
{% endblock %}
