{% extends 'base.html' %}

{% block content %}



<!-- Adiciona um select para escolher a ordenação dos produtos -->
<form action="" method="get" class="d-flex justify-content-end">
  <div class="form-group">
    <label for="ordenacao-select" class="sr-only">Ordenar por:</label>
    <select class="form-control form-control-sm" id="ordenacao-select" name="ordenacao">
      <option value="">Ordenar por:</option>
      <option value="alfabetica">Nome (A-Z)</option>
      <option value="alfabetica_decrescente">Nome (Z-A)</option>
      <option value="preco-crescente">Preço (menor para maior)</option>
      <option value="preco-decrescente">Preço (maior para menor)</option>
      <option value="mais-vendidos">Mais vendidos</option>
    </select>
  </div>
  <button type="submit" class="btn btn-sm btn-danger ml-2">Aplicar</button>
</form>


<div class="container">
  <h1>{{ subcategory.name }}</h1>
  <div class="card-deck row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
    {% for product in pagina %}
                      {% include 'carrocel_partials/_carrocel_card.html' %}

            {% empty %}
      <p>Nenhum produto encontrado.</p>
    {% endfor %}

          </div>
        </div>
      </div>

  </div>
</div>




<div  class=" container p-5 text-center">
  <ul class="pagination">
    {% for numero_pagina in pagina.paginator.page_range %}
    {% if pagina.number == numero_pagina %}
    <li class="page-item active" aria-current="page">
      <span class="page-link">{{ numero_pagina }} <span class="sr-only">(current)</span></span>
    </li>
    {% else %}
    <li class="page-item"><a class="page-link" href="?ordenacao={{ ordenacao }}&pagina={{ numero_pagina }}">{{ numero_pagina }}</a></li>
    {% endif %}
    {% endfor %}
  </ul>
</div>




</div>
</div>





<style>

.pagination .page-item.active .page-link {
  background-color: #d9534f;
  border-color: #d9534f;
  color: white;
}

  @media (max-width: 575.98px) {
  .variation-select {
    font-size: 8px;
  }
}

</style>




<script>
$(document).ready(function() {
  // Seleciona todos os elementos com a classe "variation-select" e adiciona um listener a eles
  $('.variation-select').change(function() {
    let productId = $(this).data('product-id');
    let selectedVariationId = $(this).val();
    let selectedVariationPrice = $(this).find('option:selected').text().split(' - R$ ')[1];

    console.log('productId:', productId);
    console.log('selectedVariationId:', selectedVariationId);
    console.log('selectedVariationPrice:', selectedVariationPrice);

    // Atualiza o preço exibido
    $('#price'+productId).text('R$ ' + selectedVariationPrice);

    // Define o ID da variação selecionada no botão "Adicionar ao carrinho"
    $('.add-to-cart-button[data-product-id=' + productId + ']').data('variation-id', selectedVariationId);
  }).trigger('change'); // Dispara o evento 'change' após a página ser carregada
});


// Associa a função abaixo ao evento "click" do botão "Adicionar ao carrinho"
$('.add-to-cart-button').click(function() {
  let productId = $(this).data('product-id');
  let variationId = $(this).data('variation-id');
  let quantity = $(this).siblings('.quantity-input').val();

  console.log('productId:', productId);
  console.log('variationId:', variationId);
  console.log('quantity:', quantity);

  // Envia uma requisição AJAX para adicionar o produto ao carrinho
  $.ajax({
    type: 'POST',
    url: '{% url "add_to_cart_carrocel" %}',
    data: {
      'productId': productId,
      'variation_id': variationId,
      'quantity': quantity,
      'csrfmiddlewaretoken': '{{ csrf_token }}'
    },
    dataType: 'json',
    success: function(data) {
      if (data.success) {
        // Recarrega o ícone do carrinho
        $('#cart-icon').load(document.URL + ' #cart-icon');

        // Exibe uma mensagem de sucesso
        $('#alert_success').show();
        $('#alert_container_success').show();
        $('#alert_success').html(data.produto_adicionado);

        // Oculta a mensagem de sucesso após 5 segundos
        setTimeout(function() {
          $('#alert_success').hide();
          $('#alert_container_success').hide();
        }, 5000);

        // Define o valor do input de quantidade para 1
        $('.quantity-input[data-product-id=' + productId + ']').val(1);
      } else {
        // Exibe uma mensagem de erro
        $('#available-stock').text(data.stock);
        $('#alert-erro').show();
        $('#alert-container-erro').show();
        $('#alert-erro').html(data.error);

        // Oculta a mensagem de erro após 5 segundos
        setTimeout(function() {
          $('#alert-erro').hide();
          $('#alert-container-erro').hide();
        }, 5000);

        // Define o valor do input de quantidade para 1
        $('.quantity-input[data-product-id=' + productId + ']').val(1);
      }
    },
    error: function(data) {
      alert('Ocorreu um erro ao adicionar o produto ao carrinho. Tente novamente mais tarde.');
    }
  });
});



<!--avise-me-->

$(document).ready(function() {
  $(".avise-me-button").click(function() {
    let productId = $(this).data('product-id');
    console.log("Product ID: ", productId);
    var url = "{% url 'avise:aviso_estoque' %}";
    var csrftoken = $("[name=csrfmiddlewaretoken]").val();

    // Encontra o botão "avise-me" correspondente no outro carrossel usando o mesmo "productId"
    var otherButton = $('#carousel-1 .avise-me-button[data-product-id="' + productId + '"]');
    if (otherButton.length == 0) {
      otherButton = $('#carousel-2 .avise-me-button[data-product-id="' + productId + '"]');
    }

    $.ajax({
      url: url,
      method: "POST",
      data: {
        product_id: productId,
        csrfmiddlewaretoken: csrftoken
      },
       success: function(data) {
        if (data.success) {
          // Exibe uma mensagem de sucesso
        $('#alert_success').show();
        $('#alert_container_success').show();
        $('#alert_success').html(data.aviso_adicionado);

        // Oculta a mensagem de sucesso após 5 segundos
        setTimeout(function() {
          $('#alert_success').hide();
          $('#alert_container_success').hide();
        }, 5000);


          // Muda o botão "avise-me" nos dois carrosséis para "Aguardando Restoque"
          var buttonHtml = "<button class='btn btn-warning btn-sm w-100' disabled id='botao_aguardando'>Aguardando Restoque</button>";
          $(".avise-me-button[data-product-id='" + productId + "']").replaceWith(buttonHtml);
          otherButton.replaceWith(buttonHtml);
        }
        else {
           // Exibe uma mensagem de erro
        $('#available-stock').text(data.mensagem);
        $('#alert-erro').show();
        $('#alert-container-erro').show();
        $('#alert-erro').html(data.mensagem);

        // Oculta a mensagem de erro após 5 segundos
        setTimeout(function() {
          $('#alert-erro').hide();
          $('#alert-container-erro').hide();
        }, 5000);

        }
      },
      error: function(xhr, errmsg, err) {
        alert("Erro ao cadastrar aviso!" + errmsg.message);
      }
    });
  });
});
</script>


<script>




function addToFavorites(productId) {
    var url = '/add_to_favorites/' + productId + '/';
    $.ajax({
        url: url,
        type: 'POST',
         data: {
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        dataType: 'json',
        success: function(response) {
            if (response.status == 'added') {
                // Produto foi adicionado aos favoritos
                $('#favoritos-container').load(location.href + ' #favoritos-container');
                $('#favorite-btn-' + productId + ' i').removeClass('far').addClass('fas');
            } else if (response.status == 'removed') {
                // Produto foi removido dos favoritos
                $('#favoritos-container').load(location.href + ' #favoritos-container');
                $('#favorite-btn-' + productId + ' i').removeClass('fas').addClass('far');
            }
        },
        error: function(response) {
            console.log('Erro ao adicionar produto aos favoritos:', response);
        }
    });
}


</script>

{% endblock %}