<!-- products/product_detail.html -->

{% extends 'base.html' %}



{% block content %}




<div class="container my-5">
    <div class="row d-flex">
        <div class="col-md-5 mb-3">
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="w-100" style="max-width: 400px">
                   <!-- Adiciona o botão de favorito sobre a imagem do produto -->


        </div>
        <div class="col-md-6 mb-3 card-deck">
            <h1>{{ product.name }}
            <button id="favorite-btn-{{ product.id }}" class="btn favorite-btn  m-3 text-danger" onclick="addToFavorites({{ product.id }})">
            {% if product.id in favoritos %}
            <i class="fas fa-heart"></i>
            {% else %}
            <i class="far fa-heart"></i>
            {% endif %}

        </button>
            </h1>



            <h6>{{ product.description|safe }}</h6>

            {% if product.variation_set.exists %}
                            <select name="variation" id="variation" class="variation-select form-select form-control-sm w-100"
                                    data-product-id="{{ product.id }}">
                                {% for variation in product.variation_set.all %}
                                <option value="{{ variation.id }}" data-original-price="{{ variation.price }}"
                                        data-promo-price="{{ variation.preco_ou_valor_promocional }}"
                                        data-preco-promocional="{{ variation.preco_promocional }}"
                                        data-promocao_ativa="{{ variation.promocao_ativa }}" >
                                {% if variation.nome_simplificado %}
                                    {{variation.nome_simplificado }} - R${{ variation.preco_ou_valor_promocional }}

                                {% else %}
                                    {{ variation.name }} - R${{ variation.preco_ou_valor_promocional }}
                                    {% endif %}
                                </option>
                                {% endfor %}
                            </select>
                            <p class="mb-1" id="price{{ product.id }}">R$ {{ product.variation_set.first.price }}</p>
                            {% else %}
                            <p class="mb-1 "
                               style="max-height: 50px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-top: 37px">
                                {% if product.preco_promocional and product.promocao_ativa %}<span class="original-price">De <del>R${{ product.price }}</del></span> por ${{ product.preco_ou_valor_promocional }} {%else%} R${{ product.preco_ou_valor_promocional }} {%endif%}</p>
                            {% endif %}
            <div id="botao-container{{ product.id }}">
                                <div class="d-flex align-items-center add-to-cart-form" style="margin-top: auto;">
                                    {% if product.variation_set.exists %}
                                    {% with materia_prima_stock=product.variation_set.first.materia_prima.stock %}
                                    {% if materia_prima_stock > 10 %}
                                    <button type="submit" class="btn btn-danger btn-sm w-75 add-to-cart-button"
                                            data-product-id="{{ product.id }}" data-variation-id="">Adicionar
                                    </button>
                                    <input type="number" class="form-control form-control-sm mr-2 w-25 quantity-input"
                                           data-product-id="{{ product.id }}" value="1" min="1"
                                           max="{%if product.variation %} {{ product.variation.materia_prima.stock }} {{ else }} {{ product.stock }} {% endif %}">
                                    {% else %}

                                    {% if product.id in produtos_notificados %}
                                        <button class="btn btn-warning btn-sm w-100" disabled id="botao_aguardando">Aguardando Restoque</button>
                                    {% else %}
                                    <button class="btn btn-danger btn-sm w-100 avise-me-button" data-product-id="{{ product.id }}" >Avisar-me </button>
                                    {% endif %}

                                    {% endif %}
                                    {% endwith %}


                                    {% elif product.stock < 1 %}
                                    <button class="btn btn-danger btn-sm w-100 avise-me-button" data-product-id="{{ product.id }}" >Avisar-me </button>



                                    {% else %}
                                    <button type="submit" class="btn btn-danger btn-sm w-75 add-to-cart-button"
                                            data-product-id="{{ product.id }}" data-variation-id="">Adicionar
                                    </button>
                                    <input type="number" class="form-control form-control-sm mr-2 w-25 quantity-input"
                                           data-product-id="{{ product.id }}" value="1" min="1"
                                           max="{%if product.variation %} {{ product.variation.materia_prima.stock }} {{ else }} {{ product.stock }} {% endif %}">

                                    {% endif %}

                                </div>
                            </div>
    </div>
</div>

<h2>Produtos Relacionados</h2>
<hr style="border: none; border-top: 1px solid black;">


<div id="compre-com" class="container">
    <div class="card-deck row row-cols-2 row-cols-md-3 row-cols-lg-4">
        {% for product in related_products %}


          <div class="col mb-4">
            <div class="card h-100">
              <a href="{% url 'product_detail' product.slug %}">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top">
              </a>
              <div class="card-body">




                  <h5 class="card-title" style="max-height: 50px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; cursor: pointer;" onclick="window.location.href='{% url 'product_detail' product.slug %}';">{{ product.name }}</h5>
                     <!-- Adiciona o botão de favorito sobre a imagem do produto -->


                {% if product.variation_set.exists %}
                  <select name="variation" class="variation-select form-select form-control-sm w-100"
                          data-product-id="{{ product.id }}" >
                    {% for variation in product.variation_set.all %}
                     <option value="{{ variation.id }}" data-original-price="{{ variation.price }}"
                             data-promo-price="{{ variation.preco_ou_valor_promocional }}"
                             data-preco-promocional="{{ variation.preco_promocional }}"
                             data-promocao_ativa="{{ variation.promocao_ativa }}" >
                      {% if variation.nome_simplificado %}
                          {{variation.nome_simplificado }} - R${{ variation.preco_ou_valor_promocional }}

                     {% else %}
                          {{ variation.name }} - R${{ variation.preco_ou_valor_promocional }}
                     {% endif %}
                                </option>
                    {% endfor %}
                  </select>
                  <p class="mb-1" id="price{{ product.id }}">R$ {{ product.variation_set.first.price }}</p>
                {% else %}
                  <p class="mb-1">{{ product.price }}</p>
                {% endif %}

                <div class="d-flex align-items-center add-to-cart-form">
                  <button type="submit" class="btn btn-danger btn-sm w-75 add-to-cart-button-2" data-product-id="{{ product.id }}" data-variation-id="">Adicionar</button>
                  <input type="number" class="form-control form-control-sm mr-2 w-25 quantity-input" data-product-id="{{ product.id }}" value="1" min="1" max="{{ product.stock_available }}">
                </div>

              </div>
            </div>
          </div>
        {% empty %}
          <p class="paragrafo">Nenhum produto encontrado.</p>
        {% endfor %}
      </div>
    </div>
</div>






</div>
</div>





<style>


  @media (max-width: 575.98px) {
  .variation-select {
    font-size: 8px;
  }
}

</style>

<style>
      <!--formatacao preco-->


    .original-price {

    }

    .original-price {
        color: grey; /* Cor verde para o preço promocional */
        font-weight: 700; /* Texto em negrito */
        font-size: 0.9rem
    }


    .promo-text {
        margin-right: 5px; /* Espaçamento à direita do texto "por" */
    }

    .promo-price {
    <!--    color: green; /* Cor verde para o preço promocional */-->
        font-weight: bold; /* Texto em negrito */
    }
   .card-deck {
	margin: 0 auto; /* centralizar o container na tela */
	font-size: 20px; /* tamanho da fonte */
	text-align: center; /* centralizar o texto */
	padding: 2px 20px; /* adicionar padding à esquerda e à direita */
	line-height: 2; /* altura da linha */
	font-weight: 700; /* peso da fonte */
  }




</style>


<script>
// Seleciona todos os elementos com a classe "variation-select" e adiciona um listener a eles
$('#compre-com .variation-select').change(function() {
  let productId = $(this).data('product-id');
  let selectedVariationId = $(this).val();
  let selectedOption = $(this).find('option:selected');
    let originalPrice = selectedOption.data('original-price');
    let promoPrice = selectedOption.data('promo-price');
    let precoPromocional = selectedOption.data('preco-promocional');
    let promocaoAtiva = selectedOption.data('promocao_ativa');

    let priceDisplay;
    if (precoPromocional !== "None" && precoPromocional !== '0,00' && precoPromocional !== '' && promocaoAtiva === 'True') {
    priceDisplay = '<span class="original-price">De <del>R$ ' + originalPrice + '</del> por </span> <span class="promo-price">R$' + promoPrice + '</span>';

    } else {
      priceDisplay = 'R$ ' + promoPrice;
    }

    // Atualiza o preço exibido
    $('#price'+productId).html(priceDisplay);


  // Define o ID da variação selecionada no botão "Adicionar ao carrinho"
  $('.add-to-cart-button-2[data-product-id=' + productId + ']').data('variation-id', selectedVariationId);
}).trigger('change'); // Dispara o evento 'change' após a página ser carregada



// Associa a função abaixo ao evento "click" do botão "Adicionar ao carrinho"
$('.add-to-cart-button-2').click(function() {
  let productId = $(this).data('product-id');
  let variationId = $(this).data('variation-id');
  let quantity = $(this).siblings('.quantity-input').val();


  // Envia uma requisição AJAX para adicionar o produto ao carrinho
  $.ajax({
    type: 'POST',
    url: '{% url "add_to_cart_carrocel" %}',
    data: {
      'productId': productId,
      'variation_id': variationId,
      'quantity': quantity,
      'csrfmiddlewaretoken': '{{ csrf_token }}'
    },
    dataType: 'json',
    success: function(data) {
      if (data.success) {
        // Recarrega o ícone do carrinho
        $('#cart-icon').load(document.URL + ' #cart-icon');

        // Exibe uma mensagem de sucesso
        $('#alert_success').show();
        $('#alert_container_success').show();
        $('#alert_success').html(data.produto_adicionado);

        // Oculta a mensagem de sucesso após 5 segundos
        setTimeout(function() {
          $('#alert_success').hide();
          $('#alert_container_success').hide();
        }, 5000);

        // Define o valor do input de quantidade para 1
        $('.quantity-input[data-product-id=' + productId + ']').val(1);
      } else {
        // Exibe uma mensagem de erro
        $('#available-stock').text(data.stock);
        $('#alert-erro').show();
        $('#alert-container-erro').show();
        $('#alert-erro').html(data.error);

        // Oculta a mensagem de erro após 5 segundos
        setTimeout(function() {
          $('#alert-erro').hide();
          $('#alert-container-erro').hide();
        }, 5000);

        // Define o valor do input de quantidade para 1
        $('.quantity-input[data-product-id=' + productId + ']').val(1);
      }
    },
    error: function(data) {
      alert('Ocorreu um erro ao adicionar o produto ao carrinho. Tente novamente mais tarde.');
    }
  });
});





<!--avise-me-->

$(document).ready(function() {
  $(".avise-me-button").click(function() {
    let productId = $(this).data('product-id');
    console.log("Product ID: ", productId);
    var url = "{% url 'avise:aviso_estoque' %}";
    var csrftoken = $("[name=csrfmiddlewaretoken]").val();

    // Encontra o botão "avise-me" correspondente no outro carrossel usando o mesmo "productId"
    var otherButton = $('#carousel-1 .avise-me-button[data-product-id="' + productId + '"]');
    if (otherButton.length == 0) {
      otherButton = $('#carousel-2 .avise-me-button[data-product-id="' + productId + '"]');
    }

    $.ajax({
      url: url,
      method: "POST",
      data: {
        product_id: productId,
        csrfmiddlewaretoken: csrftoken
      },
       success: function(data) {
        if (data.success) {
          // Exibe uma mensagem de sucesso
        $('#alert_success').show();
        $('#alert_container_success').show();
        $('#alert_success').html(data.aviso_adicionado);

        // Oculta a mensagem de sucesso após 5 segundos
        setTimeout(function() {
          $('#alert_success').hide();
          $('#alert_container_success').hide();
        }, 5000);


          // Muda o botão "avise-me" nos dois carrosséis para "Aguardando Restoque"
          var buttonHtml = "<button class='btn btn-warning btn-sm w-100' disabled id='botao_aguardando'>Aguardando Restoque</button>";
          $(".avise-me-button[data-product-id='" + productId + "']").replaceWith(buttonHtml);
          otherButton.replaceWith(buttonHtml);
        }
        else {
           // Exibe uma mensagem de erro
        $('#available-stock').text(data.mensagem);
        $('#alert-erro').show();
        $('#alert-container-erro').show();
        $('#alert-erro').html(data.mensagem);

        // Oculta a mensagem de erro após 5 segundos
        setTimeout(function() {
          $('#alert-erro').hide();
          $('#alert-container-erro').hide();
        }, 5000);

        }
      },
      error: function(xhr, errmsg, err) {
        alert("Erro ao cadastrar aviso!" + errmsg.message);
      }
    });
  });
});


</script>





<!--     FIM  -->
<script>
    $(document).ready(function () {
        $('#variation').change(function () {
            var selectedVariationId = $(this).val();
            var selectedVariationPrice = $('#variation option[value=' + selectedVariationId + ']').text().split(" - R$ ")[1];
            $('#price').text('R$ ' + selectedVariationPrice);
        });
    });
</script>




<script>
$(function() {
    $('#button-minus').click(function() {
        var val = parseInt($('#quantity').val());
        if (val > 1) {
            $('#quantity').val(val - 1);
        }
    });
    $('#button-plus').click(function() {
        var val = parseInt($('#quantity').val());
        $('#quantity').val(val + 1);
    });
});
</script>



<script>
   $(document).ready(function() {
  // Seleciona todos os elementos com a classe "variation-select" e adiciona um listener a eles
  $('.variation-select').change(function() {
    let productId = $(this).data('product-id');
    let quantity = $('#quantity').val();
    let selectedVariationId = $('#variation').val();
    let selectedOption = $(this).find('option:selected');
    let originalPrice = selectedOption.data('original-price');
    let promoPrice = selectedOption.data('promo-price');
    let precoPromocional = selectedOption.data('preco-promocional');
    let promocaoAtiva = selectedOption.data('promocao_ativa');

    let priceDisplay;
    if (precoPromocional !== "None" && precoPromocional !== '0,00' && precoPromocional !== '' && promocaoAtiva === 'True') {
    priceDisplay = '<span class="original-price">De <del>R$ ' + originalPrice + '</del> por </span> <span class="promo-price">R$' + promoPrice + '</span>';

    } else {
      priceDisplay = 'R$ ' + promoPrice;
    }

    // Atualiza o preço exibido
    $('#price'+productId).html(priceDisplay);

    // Define o ID da variação selecionada no botão "Adicionar ao carrinho"
    $('.add-to-cart-button[data-product-id=' + productId + ']').data('variation-id', selectedVariationId);
  }).trigger('change'); // Dispara o evento 'change' após a página ser carregada
});


// Associa a função abaixo ao evento "click" do botão "Adicionar ao carrinho"
$('.add-to-cart-button').click(function() {
  let productId = $(this).data('product-id');
  let variationId = $('#variation').val();
  let quantity = $('#quantity').val();

  console.log('productId:', productId);
  console.log('variationId:', variationId);
  console.log('quantity:', quantity);

  // Envia uma requisição AJAX para adicionar o produto ao carrinho
  $.ajax({
    type: 'POST',
    url: '{% url "add_to_cart_carrocel" %}',
    data: {
      'productId': productId,
      'variation_id': variationId,
      'quantity': quantity,
      'csrfmiddlewaretoken': '{{ csrf_token }}'
    },
    dataType: 'json',
    success: function(data) {
      if (data.success) {
        // Recarrega o ícone do carrinho
        $('#cart-icon').load(document.URL + ' #cart-icon');

        // Exibe uma mensagem de sucesso
        $('#alert_success').show();
        $('#alert_container_success').show();
        $('#alert_success').html(data.produto_adicionado);

        // Oculta a mensagem de sucesso após 5 segundos
        setTimeout(function() {
          $('#alert_success').hide();
          $('#alert_container_success').hide();
        }, 5000);

        // Define o valor do input de quantidade para 1
        $('.quantity-input[data-product-id=' + productId + ']').val(1);
      } else {
        // Exibe uma mensagem de erro
        $('#available-stock').text(data.stock);
        $('#alert-erro').show();
        $('#alert-container-erro').show();
        $('#alert-erro').html(data.error);

        // Oculta a mensagem de erro após 5 segundos
        setTimeout(function() {
          $('#alert-erro').hide();
          $('#alert-container-erro').hide();
        }, 5000);

        // Define o valor do input de quantidade para 1
        $('.quantity-input[data-product-id=' + productId + ']').val(1);
      }
    },
    error: function(data) {
      alert('Ocorreu um erro ao adicionar o produto ao carrinho. Tente novamente mais tarde.');
    }
  });
});

</script>



<!--favorito-->
<script>
function addToFavorites(productId) {
    var url = '/add_to_favorites/' + productId + '/';
    $.ajax({
        url: url,
        type: 'POST',
         data: {
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        dataType: 'json',
        success: function(response) {
            if (response.status == 'added') {
                // Produto foi adicionado aos favoritos

                $('#favorite-btn-' + productId + ' i').removeClass('far').addClass('fas');
            } else if (response.status == 'removed') {
                // Produto foi removido dos favoritos

                $('#favorite-btn-' + productId + ' i').removeClass('fas').addClass('far');
            }
        },
        error: function(response) {
            console.log('Erro ao adicionar produto aos favoritos:', response);
        }
    });
}
</script>


{% endblock %}