{% extends "base_pagamento.html" %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'administracao:dashboard_adm' %}">Pedidos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'administracao:dashboard_financeiro' %}">Financeiro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'administracao:enviar_email_em_massa' %}">Emails</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="{% url 'administracao:sales_chart' %}">Graficos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<div class="card">
  <div class="card-title"><h2>FINANCEIRO</h2></div>
    <div class="card-body">
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Selecionar Período</button>
</form>
{% for venda in vendas_por_mes %}
  <p>Período: {{ venda.data_inicial }} - {{ venda.data_final }}</p>
  <p>Categoria: {{ venda.category }}</p>
  <p>Total de vendas: {{ venda.total_vendas|floatformat:2 }}</p>
  <p>Subtotal: {{ venda.total_subtotal|floatformat:2 }}</p>
  <p>Total de frete: {{ venda.total_frete|floatformat:2 }}</p>

{% empty %}
  <p>Nenhuma venda encontrada para o período selecionado.</p>
{% endfor %}




<table>
  <thead>
    <tr>
      <th>ID do Pedido</th>
      <th>Nome do Produto</th>
      <th>Nome da Variação</th>
      <th>Valor Unitário</th>
      <th>Quantidade</th>
      <th>Valor Total</th>
    </tr>
  </thead>
  <tbody>
    {% for venda in vendas_detalhadas %}
    <tr>
      <td>{{ venda.pedido__id }}</td>
      <td>{{ venda.product__name }}</td>
      <td>{{ venda.variation__name }}</td>
      <td>
        {% if venda.product__price > 0 %}
          {{ venda.product__price }}
        {% else %}
          {{ venda.variation__price }}
        {% endif %}
      </td>
      <td>{{ venda.quantity }}</td>
      <td>{{ venda.subtotal|floatformat:2 }}</td>

    </tr>
    {% endfor %}
    <tr>
      <td colspan="5"><strong>Total</strong></td>
      <td><strong>{{ total_subtotal }}</strong></td>
    </tr>
  </tbody>
</table>
    </div>
  </div>

{% endblock %}