<!-- templates/dashboard.html -->
{% extends "base_pagamento.html" %}

{% block content %}
<div class="container-fluid">


  <h2>Pedidos</h2>

    <div class="form-group m-2">
  <label for="filtro-status">Filtrar por status:</label>
  <select class="form-control" id="filtro-status">
    <option value="">Todos</option>
    <option value="Aguardando Pagamento">Aguardando Pagamento</option>
    <option value="Pago">Pago</option>
    <option value="Em Trânsito">Em Trânsito</option>
    <option value="Entregue">Entregue</option>
    <option value="Cancelado">Cancelado</option>
  </select>
</div>
<!--filtro search-->
    <!-- Adicione os botões de opção de coluna -->
    <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-secondary active">
            <input type="radio" name="coluna" value="0" checked> ID Pedido
        </label>
        <label class="btn btn-secondary">
            <input type="radio" name="coluna" value="1"> Nome
        </label>
        <label class="btn btn-secondary">
            <input type="radio" name="coluna" value="2"> Telefone
        </label>
        <label class="btn btn-secondary">
            <input type="radio" name="coluna" value="5"> Rastreamento
        </label>
        <label class="btn btn-secondary">
            <input type="radio" name="coluna" value="7"> Id Tiny
        </label>
        <label class="btn btn-secondary">
            <input type="radio" name="coluna" value="8"> Prod
        </label>
    </div>


    <!--    fim-->
    <!--    imprimir-->
    <button id="imprimir-selecionados">Imprimir selecionados</button>
    <table class="table table-striped table-hover" id="tabela-pedidos">

        <div class="table-responsive">

            <thead>
            <tr>

                <th>Check</th>
                <th data-orderable="true">ID do Pedido</th>
                <th data-orderable="false">Cliente</th>


                <th data-orderable="true">Status</th>
                <th data-orderable="false">Rastreamento</th>
                <th data-orderable="false">Comprovante</th>
                <th data-orderable="true">Total</th>
                <th data-orderable="true">Id Tiny</th>
                <th data-orderable="true">Prod</th>
                <th data-orderable="true">Ver</th>
            </tr>
            </thead>
            <tbody>

            <!-- Loop pelos pedidos -->
            {% for pedido in pedidos %}
            <tr>
                <td>
                    <input type="checkbox" name="selecionar_pedido" value="{{ pedido.id }}">
                </td>

                <!-- ID do pedido -->
                <td> <strong style="font-size: 16px;">#{{ pedido.id }}</strong>

                    <br>
                        <button class="btn btn-sm btn-primary " style="font-size: 10px;">Observações</button>
                </td>

                <td>{{ pedido.user }}<br>
                    <span style="font-size: 8px;"><a href="https://api.whatsapp.com/send?phone={{ pedido.user.cliente.celular }}&text=Olá, estou entrando em contato sobre o pedido {{ pedido.id }}"
                       target="_blank">
                        <i class="fab fa-whatsapp fa-lg"></i>
                    </a></span>
                    <span style="font-size: 10px;">{{pedido.user.cliente.celular }}</span><br>
                    <span style="font-size: 12px;">{{ pedido.metodo_de_pagamento }}</span>


                </td>






                <!-- Coluna de status -->
                <td>
                    {{ pedido.status }}


                </td>

                <!-- Coluna de rastreamento -->
                <td>
                    {% if pedido.rastreamento %}
                    {{ pedido.rastreamento }}
                    {% else %}
                    <!-- Botão para adicionar rastreamento -->
                    <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal"
                            data-bs-target="#rastreamentoModal-{{ pedido.id }}">Adicionar
                    </button>

                    <!-- Modal para adicionar rastreamento -->
                    <div class="modal fade" id="rastreamentoModal-{{ pedido.id }}" tabindex="-1" role="dialog"
                         aria-labelledby="rastreamentoModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="rastreamentoModalLabel">Adicionar rastreamento</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Fechar"></button>
                                </div>
                                <div class="modal-body">
                                    <form id="rastreamentoForm-{{ pedido.id }}">
                                        <div class="form-group">
                                            <input type="text" id="input-rastreamento"
                                                   placeholder="Código de rastreamento"/>
                                            <button onclick="salvarRastreamento({{ pedido.id }})">Salvar</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Fim do modal -->
                    {% endif %}
                </td>

                <!-- Coluna de comprovante -->
                <td>
                    {% if pedido.metodo_de_pagamento == 'Pix' or pedido.metodo_de_pagamento == 'Deposito' %}
                    {% if pedido.comprovante %}
                    <a href="{{ pedido.comprovante.url }}" target="_blank">Ver comprovante</a>
                    {% else %}
                    -
                    {% endif %}
                    {% else %}
                    ID_MP: {{ pedido.mercado_pago_id }}
                    {% endif %}
                </td>

                <td style="font-size: 12px;">
                    Total:R${{pedido.total }}<br>
                    Produtos:R${{pedido.subtotal }}<br>
                    Frete:R${{pedido.valor_frete }}

                </td>
                <td> {% if not pedido.numero_pedido_tiny %}
                    <button class="btn btn-sm btn-success" onclick="EnviarTiny({{ pedido.id }})">Enviar</button>
                    {% else %}
                    {{ pedido.numero_pedido_tiny }}
                    {% endif %}
                </td>





                <!-- Coluna de produção -->

                <td>
                    {% if pedido.producao %}
                    <button type="button" class="btn btn-sm btn-success rounded-pill" onclick="toggleProducao({{ pedido.id }})">Sim
                    </button>
                    {% else %}
                    <button type="button" class="btn btn-sm btn-secondary rounded-pill" onclick="toggleProducao({{ pedido.id }})">Não
                    </button>
                    {% endif %}

                </td>


                  <td>
                  <a class="link-no-style text-black mx-2" href="{% url 'administracao:pedido_detail' pedido.id %}">
                    <button class="btn btn-sm" style="border-radius: 0px; background-color: #d8d8d8;"><i class="far fa-eye text-dark"  ></i></button>
                  </a>


                    {% if pedido.status != "Pago" %}
                     <button class="btn btn-sm btn-success" style="border-radius: 0px;" onclick="marcarComoPago({{ pedido.id }})"title="Marcar como pago">
                         <i class="fas fa-dollar-sign"></i>
                    </button>
                    {% endif %}
                      <br><span  style="font-size: 10px;">{{ pedido.data_pedido|date:"d/m/Y H:i" }}</span>


                </td>


                {% empty %}

            <tr>
                <td colspan="5">Não há pedidos para o período selecionado.</td>
            </tr>


            {% endfor %}
            </tbody>
        </div>
    </table>
</div>
</div>





<!-- Adicione o evento de mudança de valor aos botões de opção de coluna -->
<script>

</script>


<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script>
$(document).ready(function() {
  var tabelaPedidos = $('#tabela-pedidos').DataTable({
    "language": {
      "sEmptyTable": "Nenhum registro encontrado",
      "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
      "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
      "sInfoFiltered": "(Filtrados de _MAX_ registros)",
      "sInfoPostFix": "",
      "sInfoThousands": ".",
      "sLengthMenu": "_MENU_ resultados por página",
      "sLoadingRecords": "Carregando...",
      "sProcessing": "Processando...",
      "sZeroRecords": "Nenhum registro encontrado",
      "sSearch": "Pesquisar",
      "oPaginate": {
        "sNext": "Próximo",
        "sPrevious": "Anterior",
        "sFirst": "Primeiro",
        "sLast": "Último"
      },
      "oAria": {
        "sSortAscending": ": Ordenar colunas de forma ascendente",
        "sSortDescending": ": Ordenar colunas de forma descendente"
      }
    },
    "lengthMenu": [[20, 50, 100], [20, 50, 100]],
    columnDefs: [
      { orderable: true, targets: '_all' }
    ],
    order: [[0, 'desc']]
  });

  var selectedColumn = 1; // Inicia com a coluna 1 (nome) selecionada por padrão

  // Adiciona o evento de mudança de valor ao filtro dropdown
  $('#filtro-status').on('change', function() {
    var filtroStatus = '^' + this.value;
    tabelaPedidos.columns(3).search(filtroStatus, true, false).draw();
  });

  // Adiciona o evento de mudança de valor aos botões de opção de coluna
  $('input[type=radio][name=coluna]').change(function() {
    selectedColumn = $(this).val();
    tabelaPedidos.search('').columns().search('').draw();
  });

  // Adiciona o evento de mudança de valor ao input de pesquisa
  $('#tabela-pedidos_filter input').on('keyup', function() {
    var pesquisa = this.value;
    $('#filtro-status').val('');

    // Inclui a coluna selecionada no filtro de pesquisa
    tabelaPedidos.column(selectedColumn).search(pesquisa).draw();
  });
});

</script>





<script>
  function marcarComoPago(pedidoId) {
    $('#loading').show();
    $.ajax({
      url: "{% url 'administracao:atualizar_status' %}",
      method: "POST",

      data: {
        "pedido_id": pedidoId,
        "novo_status": "Pago",
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function(response) {
        alert("Status do pedido atualizado com sucesso!");
        $('#loading').hide();
        window.location.reload();

      },
      error: function(xhr, status, error) {
        $('#loading').hide();
        alert("Ocorreu um erro ao atualizar o status do pedido: " + xhr.responseText);
      }
    });
  }
</script>



<script>
  function EnviarTiny(pedidoId) {
    $('#loading').show();
    $.ajax({
      url: "{% url 'administracao:enviar_tiny' %}",
      method: "POST",

      data: {
        "pedido_id": pedidoId,
        "novo_status": "Pago",
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function(response) {
        alert("Enviado para o tiny!");
        $('#loading').hide();
        window.location.reload();

      },
      error: function(xhr, status, error) {
        $('#loading').hide();
        alert("Ocorreu um erro ao enviar o pedido para tiny: " + xhr.responseText);
      }
    });
  }
</script>







<script>
function enviarMensagem(numero) {
  // Formata o número para o formato do WhatsApp
  numero = numero.replace(/\D/g, ''); // Remove caracteres não numéricos
  numero = '55' + numero; // Adiciona o código do Brasil (55)
  // Abre o link do WhatsApp para enviar mensagem para o número
  window.open(`https://wa.me/${numero}`, '_blank');
}
</script>


<script>

    function salvarRastreamento(pedidoId) {
    const rastreamento = document.getElementById("input-rastreamento").value;

    $.ajax({
        url: "{% url 'administracao:adicionar_rastreamento' %}",
        method: "POST",
        data: {
            "pedido_id": pedidoId,
            "rastreamento": rastreamento,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function (response) {
            alert("Rastreamento adicionado com sucesso!");
            window.location.reload();
        },
        error: function (xhr, status, error) {
            alert("Ocorreu um erro ao adicionar o rastreamento: " + xhr.responseText);
        }
    });
}

</script>

<!--BOTAO PRODUCAO-->
<script>
function toggleProducao(pedidoId) {
  $.ajax({
    url: "{% url 'administracao:producao' %}",
    type: "POST",
    data: {
      "pedido_id": pedidoId,
      csrfmiddlewaretoken: "{{ csrf_token }}"
    },
    success: function(response) {
      console.log(response);
    },
    error: function(xhr, status, error) {
      console.log(error);
    }
  });
}
</script>



<form id="imprimir-selecionados-form" method="POST" action="{% url 'administracao:imprimir_selecionados' %}">
    {% csrf_token %}
    <input type="hidden" name="pedidos_id">
</form>

<script>
$(document).ready(function() {
    $('#imprimir-selecionados').click(function() {
        var ids = [];
        $('input[name="selecionar_pedido"]:checked').each(function() {
            ids.push(parseInt($(this).val()));
        });
        console.log(ids);
        $('#imprimir-selecionados-form input[name="pedidos_id"]').val(JSON.stringify(ids));
        $('#imprimir-selecionados-form').submit();
    });
});
</script>


{% endblock %}

