{% extends "base_pagamento.html" %}

{% block content %}

{% include 'administracao/partials/_navbar_admin.html' %}

    <div class="card">
  <div class="card-title"><h1 class="my-4">Enviar email</h1></div>
    <div class="card-body">


     <!-- Exibindo as mensagens -->
    {% if messages %}
    <div class="alert-messages">
        {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.assunto.id_for_label }}">Assunto:</label>
            {{ form.assunto.errors }}
            {{ form.assunto }}
        </div>
        <div class="form-group">
            <label for="{{ form.corpo.id_for_label }}">Corpo:</label>
            {{ form.corpo.errors }}
            {{ form.corpo }}
        </div>
        <div class="form-group">
            <label for="{{ form.clientes.id_for_label }}">Clientes:</label>
            {{ form.clientes.errors }}
            <input type="text" id="clienteSearch" onkeyup="searchFunction()" placeholder="Search for clients.." class="form-control mb-2">
            {{ form.clientes }}
        </div>
        <p class="mt-3">Clientes selecionados: <span id="count">0</span></p>
        <button type="submit" class="btn btn-primary">Enviar Emails</button>
    </form>
</div>
         </div>
     </div>


<script>
$(document).ready(function() {
    $("#id_clientes").change(function() {
        var count = $(this).find("option:selected").length;
        $("#count").text(count);
    });
});
</script>

<script>
function searchFunction() {
  var input, filter, select, options, i, txtValue;
  input = document.getElementById("clienteSearch");
  filter = input.value.toUpperCase();
  select = document.getElementById("id_clientes");
  options = select.getElementsByTagName("option");
  for (i = 0; i < options.length; i++) {
    txtValue = options[i].textContent || options[i].innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      options[i].style.display = "";
    } else {
      options[i].style.display = "none";
    }
  }
}
</script>
{% endblock %}
