{% extends 'base_imprimir.html' %}

{% block content %}
<button onclick="window.print()" class="print-button">Imprimir</button>
  <div class="container">
    <div class="row printable-area">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-5">
                  <strong style="font-size: 32px">XFLAVORS</strong><br>
                <strong style="font-size: 20px">Detalhes do pedido</strong>
                  <br><strong style="font-size: 22px">{{ pedido.frete }}</strong>

                <br><strong>Número do pedido:</strong> {{ pedido.id }}
                <br><strong>Status:</strong> {{ pedido.status }}
                <br><strong>Data do pedido:</strong> {{pedido.data_pedido|date:"d/m/Y H:i"}}
              </div>
              <div class="col-md-5">
                <strong style="font-size: 20px">Endereço de Entrega</strong>
                <br> <strong style="font-size: 22px">{{ pedido.endereco_entrega.user.username }}</strong>
                <br>{{ pedido.endereco_entrega.rua }}, {{ pedido.endereco_entrega.numero }}
                {% if pedido.endereco_entrega.complemento %} <br><strong>complemento:</strong>{{ pedido.endereco_entrega.complemento }} {% endif %}
                <br>{{ pedido.endereco_entrega.bairro }}, {{ pedido.endereco_entrega.cidade }} - {{ pedido.endereco_entrega.estado }}
                <br>{{ pedido.endereco_entrega.cep }}
              </div>
                <div class="col-md-12">
                {% if pedido.observacoes %}<br><strong>Observação do cliente:</strong> {{ pedido.observacoes }}{% endif %}
                {% if pedido.observacoes_internas %}<br><strong>Observação internas:</strong> {{ pedido.observacoes_internas }}{% endif %}
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>

                    <th>Produto</th>
                    <th>Quantidade</th>
                    <th>Preço Unitário</th>
<!--                    <th>Localização</th>-->
                    <th>Valor Total</th>
                  </tr>
                </thead>
                <tbody class="printable-area">
                  <tbody>
{% for localizacao in localizacoes %}
    <tr class="localizacao" style="border-top: 3px solid black;">
        <td colspan="6">{{ localizacao }}</td>
    </tr>
    {% for item in itens %}
        {% if item.product.localizacao == localizacao %}
            <tr>

                <td style="width: 50%;">{% if item.variation %} {{ item.variation.name }} {% else %} {{ item.product.name }} {% endif %}</td>
                <td>{{ item.quantity }}</td>
                <td>R$ {{ item.price }}</td>
<!--                <td>{{ item.product.localizacao }}</td>-->
                <td>R$ {{ item.valor_total }}</td>
            </tr>
        {% endif %}
    {% endfor %}
{% endfor %}
</tbody>



                </tbody>
              </table>
            </div>
            <div style="font-size: 12px">
            <strong>Subtotal:</strong> R$ {{ pedido.subtotal }}<br>
            <strong>Frete:</strong> R$ {{ pedido.valor_frete }}<br>
            <strong>Total:</strong> R$ {{ pedido.total }}<br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<style>
@media print {
  body {
    font-size: 10pt;
    margin: 0;

  }
 .col-md-5 {
    width: 50%;
  }
  h5, p {
    font-size: 12px;
  }
   .print-button {
    display: none;
  }
  .printable-area {
    font-size: 10pt;

  }
  table {
    width: 100%;
  }
  .printable-area {
  min-width: 800px;
}
.printable-area {
  margin-left: -0px;
}

}

  .localizacao {
    background-color: #ccc;
    font-weight: bold;
    border-top: 2px solid black;
  }



</style>

<script>


  <button onclick="imprimirTabela()">Imprimir Itens do Pedido</button>

<script>
function imprimirTabela() {
  var tabela = document.querySelector('.table');
  var janelaImpressao = window.open('', '', 'width=800,height=600');
  janelaImpressao.document.write('<html><head><title>Itens do Pedido</title>');

  janelaImpressao.document.write('</head><body>');
  janelaImpressao.document.write(tabela.outerHTML);
  janelaImpressao.document.write('</body></html>');
  janelaImpressao.document.close();
  janelaImpressao.focus();
  janelaImpressao.print();
  janelaImpressao.close();
}
</script>

</script>
{% endblock %}
