{% extends 'base_pagamento.html' %}

{% block content %}
<div class="row">
  <div class="col-12 col-md-6">
    <h2 class="mb-4">Endereço de Entrega</h2>
    {% if endereco_primario %}
    <p>{{ endereco_primario.rua }}, {{ endereco_primario.numero }} - {{ endereco_primario.complemento }}<br>
      {{ endereco_primario.bairro }}, {{ endereco_primario.cidade }} - {{ endereco_primario.estado }}<br>
      CEP: {{ endereco_primario.cep }}</p>

    <div class="mb-4">
      <button id="editar-endereco" data-endereco-id="{{ endereco_primario.id }}" class="btn btn-primary mb-3">Alterar Endereço</button>
      <div id="editar-endereco-container" data-endereco-id="{{ endereco_primario.id }}"></div>
    </div>

    <h4>Outros endereços:</h4>
    <select name="endereco_entrega" class="form-select mb-4" id="endereco_entrega">
      <option selected>Selecione um novo endereço</option>
      {% for e in endereco %}
      <option value="{{ e.id }}">{{ e.rua }}, {{ e.numero }} - {{ e.complemento }} {{ e.bairro }}, {{ e.cidade }} - {{ e.estado }} CEP: {{ e.cep }}</option>
      {% endfor %}
    </select>
    {% else %}
    <p>Você não tem um endereço de entrega cadastrado.</p>
    {% endif %}

    <h2 class="mb-4">Cotação de Frete</h2>
    <div class="card mb-3">
      <div class="card-header">Selecione uma opção de frete:</div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <input type="radio" name="frete" id="frete-sedex" value="sedex" class="form-check-input">
          <label for="frete-sedex" class="form-check-label font-weight-bold">SEDEX</label>
          <span class="badge badge-primary badge-pill text-dark" id="valor-sedex"></span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <input type="radio" name="frete" id="frete-pac" value="pac" class="form-check-input">
          <label for="frete-pac" class="form-check-label font-weight-bold">PAC</label>
          <span class="badge badge-primary badge-pill text-dark" id="valor-pac"></span>
        </li>
      </ul>
    </div>





    <h2 class="mb-4">Formas de Pagamento</h2>
    <form action="" method="POST">
      {% csrf_token %}
            <div class="form-check mb-4">
        <input type="radio" name="metodo_pagamento" id="pagamento-mercadopago" value="MercadoPago" class="form-check-input">
        <label for="pagamento-mercadopago" class="form-check-label">Mercado Pago</label>
      </div>
      <div class="form-check mb-4">
        <input type="radio" name="metodo_pagamento" id="pagamento-pix" value="Pix" class="form-check-input">
        <label for="pagamento-pix" class="form-check-label">Pix</label>
      </div>
      <div class="form-check mb-4">
        <input type="radio" name="metodo_pagamento" id="pagamento-deposito" value="Deposito" class="form-check-input">
        <label for="pagamento-deposito" class="form-check-label">Depósito Bancário</label>
      </div>
      <button id="ir-para-meios-de-pagamento" class="btn btn-danger my-2">Fechar Pedido</button>
    </form>
    </div>




<div id="tabela_pedido" class="table-responsive col-12 col-md-6">
  <h3>Detalhes do Pedido</h3>

<script>
function fecharAlerta(id) {
  $('#alert-container-erro-' + id).hide();
}
</script>
    {% for item in itens %}
    <div id="alert-container-erro-{{ item.id }}" style="display: none;">
      <div id="alert-erro-{{ item.id }}" class="alert alert-danger alert-dismissible fade show" role="alert">
      </div>
    </div>
    {% endfor %}
  <table class="table table-sm">

    <thead>
      <tr>
        <th class="w-50">Produto</th>
        <th class="text-center">Quant.</th>
        <th class="text-center">Preço unitário</th>
        <th class="text-center">Preço total</th>
      </tr>
    </thead>
    <tbody>
      {% for item in itens %}
      <tr id="linha-{{ item.id }}">
        <td class="w-50">{% if item.variation %}  {{ item.variation.name }} {% else %}  {{ item.product.name }}  {% endif %}</td>
        <td class="text-center">{{ item.quantity }}</td>
        <td class="text-center">R$ {% if item.variation %}  {{ item.variation.price }}{% else %}  {{ item.product.price }}  {% endif %}</td>
        <td class="text-center">R$ {{ item.total_price }}</td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th colspan="3">Subtotal:</th>
        <td id="subtotal">R$ {{ total }}</td>
      </tr>
      <tr>
        <th colspan="3">Frete:</th>
        <td id="frete">R$ 0.00</td>
      </tr>
      <tr>
        <th colspan="3">Total:</th>
        <td id="total-com-frete">R$ {{ total }}</td>
      </tr>
    </tfoot>
  </table>
</div>
</div>

<div class="col-6">
  <div class="text-center mt-4">
    <div class="d-inline-block">
      <a href="{% url 'cart:carrinho' %}" class="btn btn-danger">Voltar Carrinho</a>
    </div>
    <div class="d-inline-block ml-3">
      <a href="{% url 'home' %}" class="btn btn-success">Voltar para Home</a>
    </div>
  </div>
</div>


    <script>



$(document).ready(function() {
  $('#endereco_entrega').on('change', function() {
    // Obter o ID do endereço selecionado
    var enderecoId = $(this).val();

    // Enviar uma solicitação AJAX para atualizar o endereço de entrega
    $.ajax({
      url: '{% url "atualizar_endereco_entrega" %}',
      type: 'POST',
      data: {
        'endereco_id': enderecoId,
        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
      },
      success: function() {
        // Atualizar a página para exibir o novo endereço selecionado
        location.reload();
      }
    });
  });
});




$(document).ready(function() {
  // Enviar solicitação AJAX para exibir o formulário de edição do endereço
  $('#editar-endereco').on('click', function() {
    var enderecoId = $(this).data('endereco-id');
    $.ajax({
      url: '{% url "editar_endereco" %}',
      type: 'GET',
      data: {
        'endereco_id': enderecoId,
      },
      success: function(response) {
        $('#editar-endereco-container').html(response);
        $('#fechar-editar-endereco').on('click', function() {
          $('#editar-endereco-container').empty();
        });
      }
    });
  });
});


$(document).ready(function () {
    var cep = '{{ endereco_primario.cep }}'; // coloque aqui o CEP a ser cotado
    $.ajax({
        url: '{% url "cotacao_frete_correios" %}',
        type: 'POST',
        data: {
            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
            'cep': cep,
        },
        dataType: 'json',
        success: function (data) {
            if (data.results) {
                for (var i = 0; i < data.results.length; i++) {
                    var result = data.results[i];
                    if (result.codigo == '03220') {
                        $('#valor-sedex').text('R$' + result.valor +  ' - ' +result.prazodeentrega);
                    } else if (result.codigo == '03298') {
                        $('#valor-pac').text('R$' + result.valor + ' - ' +result.prazodeentrega);
                    }
                }
            } else {
                alert('Erro ao obter os valores de frete.');
            }
        },
        error: function () {
            alert('Erro ao obter os valores de frete ERROR.');
        }
    });
});


$(document).ready(function () {
  // ...

  $('input[type=radio][name=frete]').on('change', function() {
    var valorFrete = 0;
    if (this.value === 'sedex') {
      valorFrete = parseFloat($('#valor-sedex').text().match(/\d+\.\d+/)[0]);
    } else if (this.value === 'pac') {
      valorFrete = parseFloat($('#valor-pac').text().match(/\d+\.\d+/)[0]);
    }
    $('#frete').text('R$ ' + valorFrete.toFixed(2));
    var totalComFrete = parseFloat('{{ total }}') + valorFrete;
    $('#total-com-frete').text('R$ ' + totalComFrete.toFixed(2));
  });
});



$(document).ready(function() {
  // Adiciona um evento de clique no botão "Ir para meios de pagamento"
  $('#ir-para-meios-de-pagamento').on('click', function() {
    event.preventDefault();
    if (!$('input[name=frete]:checked').val()) {
      alert('Selecione uma opção de frete.');
      return false;
    }

    // Verifica se o método de pagamento foi selecionado
    if (!$('input[name=metodo_pagamento]:checked').val()) {
      alert('Selecione uma forma de pagamento.');
      return false;
      }



<!--&lt;!&ndash;TESTE INICIO&ndash;&gt;-->

<!--var estoqueInsuficiente = false;-->


<!--{% for item in itens %}-->
<!--  {% if item.variation %}-->
<!--    var item = {{ item.id }};-->

<!--$.ajax({-->
<!--    type: 'POST',-->
<!--    url: '{% url "verifica_carrinho" %}',-->
<!--    data: {-->

<!--      'item': item,-->

<!--      'csrfmiddlewaretoken': '{{ csrf_token }}'-->
<!--    },-->
<!--    dataType: 'json',-->
<!--    success: function(data) {-->
<!--      if (data.success) {-->
<!--      alert('estoque Suficiente.');-->

<!--      } else {-->
<!--      alert('estoque insuficiente.');-->
<!--      estoqueInsuficiente = true;-->

<!--      console.log('estoqueInsuficiente:', estoqueInsuficiente)-->
<!--      $('#linha-{{ item.id }}' ).addClass('linha-estoque-insuficiente');-->
<!--      return false ;-->
<!-- // Exibe uma mensagem de erro-->

<!--        $('#alert-erro-{{ item.id }}').show();-->
<!--        $('#alert-container-erro-{{ item.id }}').show();-->
<!--        $('#alert-erro-{{ item.id }}').html(data.error + '<button type="button" class="close" data-dismiss="alert" aria-label="Fechar" onclick="fecharAlerta(\'{{ item.id }}\')">' +-->
<!--  '<span aria-hidden="true">&times;</span>' +-->
<!--'</button>');-->

<!--        // Oculta a mensagem de erro após 5 segundos-->
<!--        setTimeout(function() {-->
<!--          $('#alert-erro-{{ item.id }}').hide();-->
<!--          $('#alert-container-erro-{{ item.id }}').hide();-->
<!--        }, 20000);-->

<!--      }-->
<!--    },-->
<!--    error: function(data) {-->

<!--    }-->
<!--  });-->
<!--{% endif %}-->
<!--console.log('estoqueInsuficiente final repeticao:', estoqueInsuficiente);-->
<!--if (estoqueInsuficiente) {-->
<!--alert('estoque insuficiente final.');-->
<!--console.log('estoqueInsuficiente final:', estoqueInsuficiente);-->
<!--    return false ;-->
<!--    }-->
<!--{% endfor %}-->


<!--if (estoqueInsuficiente) {-->
<!--alert('estoque insuficiente final.');-->
<!--console.log('estoqueInsuficiente final:', estoqueInsuficiente);-->
<!--    return false ;-->
<!--    }-->
<!--else { alert('estoque suficiente final.');-->
<!-- console.log('estoqueInsuficiente:', estoqueInsuficiente); };-->




<!--    alert('CRIANDO PEDIDO.');-->
    // Obtém o valor do subtotal
    var subtotal = parseFloat($('#subtotal').text().replace('R$ ', ''));

    // Obtém o valor do frete
    var frete = parseFloat($('#frete').text().replace('R$ ', ''));

    // Obtém o valor total com o frete
    var total = parseFloat($('#total-com-frete').text().replace('R$ ', ''));

    // Obtém o método de pagamento selecionado
    var metodoPagamento = $('input[name=metodo_pagamento]:checked').val();

    // Obtém o método de frete selecionado
    var freteSelecionado = $('input[name=frete]:checked').val();

    // Envia uma requisição AJAX para criar o pedido com o status "aguardando pagamento"
    $('#loading').show();
    $.ajax({
      url: '{% url "criar_pedido" %}',
      type: 'POST',
      data: {
        'subtotal': subtotal,
        'frete': frete,
        'total': total,
        'metodo_pagamento': metodoPagamento,
        'frete_selecionado': freteSelecionado,
        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
      },
      dataType: 'json',
      success: function(data) {
<!--      alert('sucesso?.');-->


      if (data.success) {
      $('#loading').hide();
<!--      alert('Pedido criado.');-->
      var pedido_id = data.pedido_id;
      console.log('pedido_id:', pedido_id);

        // Constrói a URL de redirecionamento
<!--        alert('criando url');-->
        var url_pagamento = `/pagina_pagamento/`+pedido_id;
        console.log('URL de pagamento:', url_pagamento);
<!--        alert('redirecionando');-->
        // Redireciona o usuário para a página de pagamento
        window.location.href = url_pagamento;

              }

  else {
        $('#loading').hide();
    // Adiciona a classe CSS "linha-estoque-insuficiente" na linha do item com estoque insuficiente
    for (var i = 0; i < data.errors.length; i++) {
        var itemId = data.errors[i].item_id;
        $('#linha-'+itemId).addClass('linha-estoque-insuficiente');
        // Exibe uma mensagem de erro
        $('#alert-erro-'+itemId).show();
        $('#alert-container-erro-'+itemId).show();
        $('#alert-erro-'+itemId).html(data.errors[i].message + '<button type="button" class="close" data-dismiss="alert" aria-label="Fechar" onclick="fecharAlerta(' + itemId + ')">' +
  '<span aria-hidden="true">&times;</span>' +
'</button>');
    }
    $('#loading').hide();
    alert('Erro ao criar o pedido.');
    console.log('ERROS:', data.errors);
}
    },
      error: function(response) {
        $('#loading').hide();
        alert('Erro ao criar o pedido.');
      }
    });
  });
});

    </script>
<style>
.linha-estoque-insuficiente {
  background-color: #ffcccc;
}
</style>


    {% endblock %}